<div class="rightcolumn">

    <div class="rightcontacttitle" style="margin-top: 0;">欢 迎 垂 询</div>
    <div class="rightcontact">
        <table width="90%" border="0" cellspacing="0" cellpadding="3" align="center">
            <tr>
                <td width="31%" height="65" align="center" valign="middle"><img
                        src="/images/contacticon1.jpg"
                        width="39" height="37"></td>
                <td width="69%" align="left" valign="middle">(8621) 63178866</td>
            </tr>
            <tr>
                <td colspan="2" align="center" valign="middle">
                    <hr class="line" style="width:90%" />
                </td>
            </tr>
            <tr>
                <td height="65" align="center" valign="middle"><img
                        src="/images/contacticon2.jpg"
                        width="39" height="36"></td>
                <td align="left" valign="middle"><a href="mailto:sales@hdtMEDIA.com">sales@hdtMEDIA.com</a></td>
            </tr>
            <tr>
                <td colspan="2" align="center" valign="middle">
                    <hr class="line" style="width:90%" />
                </td>
            </tr>
            <tr>
                <td height="65" align="center" valign="top"><img
                        src="/images/contacticon3.jpg"
                        width="46" height="14"></td>
                <td align="left" valign="top"><img
                        src="/images/contacticonweixin.jpg"
                        width="91" height="90"></td>
            </tr>
            <tr>
                <td colspan="2" align="center" valign="middle">
                    <hr class="line" style="width:90%" />
                </td>
            </tr>
            <tr>
                <td height="65" align="center" valign="top"><img
                        src="/images/contacticon4.jpg"
                        width="48" height="14"></td>
                <td align="left" valign="top"><img
                        src="/images/contacticonweibo.jpg"
                        width="91" height="90" align="left" style="margin-right:3px;"> 互动通<br>
                    hdtMEDIA<img src="/images/iconv.jpg"
                        width="10" height="10"><br><br>
                    <a href="http://weibo.com/hdtmedia" target="_blank"><img
                            src="/images/iconguanzhu.jpg"
                            width="58" height="18"></a>
                </td>
            </tr>
        </table>
    </div>


</div>