<div class="head">
    <a href="/" class="logo"></a>
    {{!-- <a href="#" class="btnlanguage"></a> --}}
    <div class="navigation">
        <a href="#" class="btnnavi"></a>
        <div class="submenu">
            <a href="/pages/works"><span class="item1">案例作品</span></a>
            <a href="/pages/about"><span class="item2">关于我们</span></a>
            <a href="/pages/introduce"><span class="item3">平台产品</span></a>
            <a href="/pages/news"><span class="item4">新闻动态</span></a>
        </div>
    </div>
</div>