<div class="indexbanner">
    <div class="indexbannercontrol">
        <a href="#" id="bannerleft"></a>
        <a href="#" id="bannerright"></a>
    </div>
    <div class="allimgs">

        <a href="http://www.hdtmedia.com/archives/category/about/introduce" class="banner" target="_blank"><img
                src="http://www.hdtmedia.com/wp-content/uploads/2014/02/logosCN1.jpg" width="100%" /></a><a
            href="http://www.hdtmedia.com/hdtdxp" class="banner" target="_blank"><img
                src="http://www.hdtmedia.com/wp-content/uploads/2015/09/kv-4.jpg" width="100%" /></a><a
            href="http://www.hdtmedia.com/hdtotv" class="banner" target="_blank"><img
                src="http://www.hdtmedia.com/wp-content/uploads/2016/10/kv-hdtOTV1.jpg" width="100%" /></a><a
            href="http://www.hdtmedia.com/hdtott" class="banner" target="_blank"><img
                src="http://www.hdtmedia.com/wp-content/uploads/2017/04/hdtOTT.jpg" width="100%" /></a><a
            href="http://www.hdtmedia.com/hdtmobile" class="banner" target="_blank"><img
                src="http://www.hdtmedia.com/wp-content/uploads/2015/09/kv-3-hdtMobile.jpg" width="100%" /></a><a
            href="http://www.hdtmedia.com/h2" class="banner" target="_blank"><img
                src="http://www.hdtmedia.com/wp-content/uploads/2014/10/H2-cn.jpg" width="100%" /></a><a
            href="http://www.hdtmedia.com/hdtKOL" class="banner" target="_blank"><img
                src="http://www.hdtmedia.com/wp-content/uploads/2018/03/hdtKOL1.jpg" width="100%" /></a>
    </div>
</div>
<div class="indexnewswrapper">
    <div class="allnews">
        <div class="newsblock">

            <div class="title title1">公司新闻</div>
            <div class="detail">
                <a href="http://www.hdtmedia.com/archives/12663" class="newspic" target="_blank"><img
                        src="http://www.hdtmedia.com/wp-content/uploads/2020/04/12.png" width="100%" /></a> <a
                    href="http://www.hdtmedia.com/archives/12672" class="newslist">过来！你给我过来！说你呢APP程序猿</a><a
                    href="http://www.hdtmedia.com/archives/12663" class="newslist">2020领导者说|互动通副总裁朱强：认准风口，顺势而为！</a><a
                    href="http://www.hdtmedia.com/archives/12659" class="newslist">任何阶段的品牌都应建立危机管理响应机制</a>

            </div>
            <a href="/archives/category/allnews/news" class="btnmore" target="_blank"></a>

        </div>
        <div class="newsblock">

            <div class="title title2">专题活动</div>
            <div class="detail">
                <div class="newsbanner">
                    <div class="dots" id="dots"></div>
                    <div class="allnewsbanner" id="allnewsbanner">
                        <a href="http://www.hdtmedia.com/archives/12668" class="nbanner" target="_blank"><img
                                src="http://www.hdtmedia.com/wp-content/uploads/2020/04/21.png" width="100%" /></a><a
                            href="http://www.hdtmedia.com/archives/12027" class="nbanner" target="_blank"><img
                                src="http://www.hdtmedia.com/wp-content/uploads/2018/06/1.jpg" width="100%" /></a><a
                            href="http://www.hdtmedia.com/archives/11987" class="nbanner" target="_blank"><img
                                src="http://www.hdtmedia.com/wp-content/uploads/2018/04/缩略图有边框.jpg" width="100%" /></a>
                    </div>
                </div>
            </div>
            <a href="/archives/category/allnews/subject" class="btnmore" target="_blank"></a>

        </div>
        <div class="newsblock">

            <div class="title title3">精彩案例</div>
            <div class="detail">
                <a href="http://www.hdtmedia.com/archives/12568" class="newspic" target="_blank"><img
                        src="http://www.hdtmedia.com/wp-content/uploads/2019/12/4.jpg" width="100%" /></a>
                <a href="http://www.hdtmedia.com/archives/12568" class="newslist">从《非诚勿扰》与纽菲特，看未来品牌与内容将怎样结合</a><a
                    href="http://www.hdtmedia.com/archives/12125" class="newslist">互动通助力泸州老窖特曲实现跨屏精准传播</a><a
                    href="http://www.hdtmedia.com/archives/12100" class="newslist">雀巢春节DSP推广</a>
            </div>
            <a href="/archives/category/allwork/newworks/通信电器" class="btnmore" target="_blank"></a>
        </div>
    </div>
</div>