.indexbanner{
    width: 100%;
    min-width: 1200px;

    margin: auto;
    z-index: 20;
    height:auto;
    overflow: hidden;


}

.indexbanner .indexbannercontrol{
    width: 100%;
    z-index: 20;
    height:auto;

	min-height:60px;
	position:absolute;
	min-width:1200px;
	/*padding-top:300px;*/
	top:0px;
    text-align: center;

}

.indexbannercontrol .dot {
    width: 12px;
    height: 12px;
    background-image: url('/images/dotgray.png');
    background-size: contain;
    display: inline-block;
    margin: 0 5px;
}
.indexbannercontrol .dot.on {
    background-image: url('/images/dotblue.png');
}

.indexbanner #bannerleft{
    display: block;
    width: 14px;
    height: 20px;
    background-image: url('/images/arrowleft.png');
    
    margin-left: 48%;
    position: absolute;
    z-index: 1;
}

.indexbanner #bannerright{
    display: block;
    width: 14px;
    height: 20px;
    background-image: url('/images/arrowright.png');
   
    margin-left: 52%;
    position: absolute;
    z-index: 1;
}

.indexbanner .allimgs{
    min-height: 535px;
    height: auto;
}


.indexbanner .allimgs .banner{
    display: block;

    float: left;
}

.indexnewswrapper{
    width: 100%;
    min-width: 1200px;
    margin-top: 34px;
    background-color: #e7e7e7;
    height: auto;
    padding-bottom: 15px;

}


.indexnewswrapper .allnews{
    width: 100%;
    margin: auto;
    height: auto;

}


.indexnewswrapper .newsblock{
    width:32.3%;
    height: auto;
    min-height: 404px;
    margin-left:1%;

    float: left;


}

.indexnewswrapper .newsblock .btnmore{
    position: relative;
    margin-left: 40%;
    width: 86px;
    height: 86px;
    display: block;
    background-image: url('/images/indexmore.png');
    margin-top: -13px;
}

.indexnewswrapper .newsblock .title{
    width:90.9%;
    padding-left: 14px;
    padding-right: 14px;
    height: 53px;
    background-color: #FFF;
    font-size: 18px;
    line-height: 53px;
    text-align: center;
    font-family:"方正兰亭","黑体","宋体",sans-serif,serif;

}

.indexnewswrapper .newsblock .title1{
    color: #58b8e1;

}

.indexnewswrapper .newsblock .title2{
    color: #c81a20;


}

.indexnewswrapper .newsblock .title3{
    color: #58b8e1;

}


.indexnewswrapper .newsblock .detail{
    width:90.9%;
    height: 322px;
    margin-top: 3px;
    background-color: #FFF;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 13px;
    padding-bottom: 13px;
    overflow: hidden;


}

.indexnewswrapper .newsblock .detail .newspic{
    display: block;
    width: 100%;
    overflow: hidden;
    height: 165px;
}

.indexnewswrapper .newsblock .detail .newslist{
    display: block;
    width: 93%;
    padding-left: 25px;
    overflow: hidden;
    height: 39px;
    border-bottom: solid 1px #cdcdcd;
    color: #959595;
    line-height: 39px;
    background-image: url('/images/listicon.png');
    background-repeat: no-repeat;
    background-position: left 14px;
}

.indexnewswrapper .newsblock .detail .newslist:hover{
    text-decoration: underline;
    color: #5dc7f2;
}


.indexnewswrapper .newsblock .detail .newicon{
    position: absolute;
    float: left;
    margin-top: 3px;
}


.indexnewswrapper .newsblock .detail .newsbanner{
    width: 100%;
    height: 279px;
    overflow: hidden;
}


.indexnewswrapper .newsblock .detail .newsbanner .allnewsbanner{
    height:279px;
    width:100%;
}

.indexnewswrapper .newsblock .detail .newsbanner .allnewsbanner a{
    height:279px;
    width:100%;
    float: left;
}


.indexnewswrapper .newsblock .detail .newsbanner .allnewsbanner .newlabel{
    position: absolute;
    margin-left: -5px;
    margin-top: -5px;
}


.indexnewswrapper .newsblock .detail .newsbanner .dots{
    margin-top: 250px;
    position: absolute;
    margin-left: 24%;
    text-align: right;
    z-index: 20;
    width: auto;
}


.indexnewswrapper .newsblock .detail .newsbanner .dots .dot{
    float:left;
    display: block;
    width: 11px;
    height: 11px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-image: url('/images/dotgray.png');
}

.indexnewswrapper .newsblock .detail .newsbanner .dots .gray{

}

.indexnewswrapper .newsblock .detail .newsbanner .dots .blue{
    background-image: url('/images/dotblue.png');
}

.idx-news {
    margin-top: 100px;
}

.idx-news-top {
	background: url(/images/index_banner.jpg) center center no-repeat;
	background-size: cover;
	padding: 60px 0;
}

.idx-news-top .tit {
	background: rgba(0, 0, 0, 0.5);
	width: 270px;
	margin: 0 auto;
	padding: 25px 0;
	border: 1px solid #727779;
}

.idx-news-top .tit h2,
.idx-news-top .tit span {
	color: #fff;
}

.tit h2 {
    font-size: 32px;
    color: #333333;
    font-weight: bold;
    text-align: center;
    display: block;
}

.figure_img,
.figure_img1,
.figure_img2,
.figure_img3,
.figure_img4,
.figure_img5 {
	position: relative;
	width: 100%;
	height: 0;
	overflow: hidden;
	margin: 0;
	padding-bottom: 75%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.figure_img1 {
	padding-bottom: 65%;
}

.figure_img2 {
	padding-bottom: 55%;
}

.figure_img3 {
	padding-bottom: 50%;
}

.figure_img4 {
	padding-bottom: 50%;
}

.figure_img5 {
	padding-bottom: 100%;
}

.idx-news-news {
	position: relative;
	overflow: hidden;
	max-width: 1500px;
	margin: 0 auto;
    padding: 100px 150px;
    box-sizing: border-box;
}

.idx-news-news .swiper-container {
	margin: 0 auto;
}

.idx-news-news .s-prev,
.idx-news-news .s-next {
	position: absolute;
	top: 45%;
	background-size: 100%;
	width: 64px;
	height: 64px;
	cursor: pointer;
}

.idx-news-news .s-prev {
	background: url(/images/icon_left.png) no-repeat;
	left: 20px;
}

.idx-news-news .s-next {
	background: url(/images/icon_right.png) no-repeat;
	right: 20px;
}

.idx-news-news .swiper-slide {
	border-bottom: 1px solid #e9e9e9;
	padding-bottom: 35px;
	position: relative;
}

.idx-news-news .swiper-slide::after {
	content: "";
	background: #e9e9e9;
	transition: 1s;
	width: 0;
	height: 1px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.idx-news-news .swiper-slide:hover:after {
	background: #399439;
	width: 100%;
	height: 1px;
}

.idx-news-news .swiper-slide h3 {
	font-size: 16px;
	color: #000000;
	padding-top: 30px;
	margin-bottom: 15px;
	height: 68px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.5em;
}

.idx-news-news .swiper-slide p {
	font-size: 14px;
	color: #666666;
	margin-bottom: 20px;
	overflow: hidden;
	height: 48px;
}

.idx-news-news .swiper-slide span {
	font-size: 14px;
	color: #38a2f6;
	position: absolute;
	bottom: 15px;
	left: 0;
}