<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <script src="/wap/js/meta.js"></script>
    <link rel="stylesheet" href="/wap/css/app.css">
</head>
<title>hdtMEDIA</title>

<body>

    <div class="pages">
        {{>wap_head}}
        <div class="pagecontentwrapper detailpage">
            <p><strong>案例背景</strong></p>
            <p>作为悦诗风吟（Innisfree）“王牌产品”，为肌肤注入第一道水分力量的小绿瓶肌底精华露上市以来广受好评。2X绿茶籽油加双效锁水技术，3秒保湿增加肌肤保湿因子，悦诗风吟小绿瓶完美实现与水分的约定。正值悦诗风吟小绿瓶上市四周年，为感谢全球小清新的喜爱，悦诗风吟
                (Innisfree) 发起“带着小绿瓶去旅行”的全民摄影大赛。2016年4月30日-5月31日，悦诗风吟联手互动通数字广告投放平台，精准找到TA，并将产品活动信息有效传递。</p>
            <p><a href="/wap/images/works/6677/17.jpg"><img
                        class="alignnone size-full wp-image-6794"
                        src="/wap/images/works/6677/17.jpg" alt="1" width="550"
                        height="308" /></a></p>
            <p><strong>传播目标</strong></p>
            <p>1. 提升消费者对悦诗风吟产品的认知度及忠诚度，与消费者深度沟通，促使TA参与互动；<br />
                2. 将人群引流至官方网站，从而促进产品购买，扩大品牌宣传，提升悦诗风吟整体知名度。</p>
            <p><a href="/wap/images/works/6677/32.jpg"><img
                        class="alignnone size-full wp-image-6796"
                        src="/wap/images/works/6677/32.jpg" alt="3" width="550"
                        height="367" /></a></p>
            <p><strong>创意策略</strong></p>
            <p>线上线下整合营销活动期间，参与者可以在任何地点、任何国家将小绿瓶与眼中的美景合影上传至全球活动页面，添加标签#带着小绿瓶去旅行#并讲述该地的特殊意义便可参与活动，分享至社交媒体更可大大提高获奖机率。整个营销在充分发挥UGC的传播影响力的同时，将TA与产品相结合，增加品牌的曝光量。
            </p>
            <p>活动形式新颖独特除了传统手机端banner推广，还融合了频道焦点图、KOL达人发图、玩字贴纸设计、关键词搜索、冠名话题以及品牌站等多种活动形式，扩大品牌宣传。</p>
            <p><strong>传播策略</strong></p>
            <p>本次传播覆盖移动端，从地域、时间、频次以及媒体四个角度对人群进行精准把控。在地域方面，着重锁定北京、上海、广州等10个悦诗风吟门店集中地，拉动线下销售；在时间方面，根据目标受众的生活作息习惯选择在9:00-24:00进行广告投放；在频次控制方面，每个用户6次；从媒体选择方面而言，选择贴合度最高的生活服务类、影音多媒体类、女性娱乐类、旅游类APP类别作为投放阵地，实现精准目标人群投放匹配，强势曝光广告信息，成功抓取大量目标消费人群。
            </p>
            <p><strong>执行过程</strong></p>
            <p><strong>hdtMobile移动数字广告平台，精准覆盖</strong><br />
                洞察目标受众，定义人群标签<br />
                通过对需求人群及兴趣人群进行精确的人物画像，将人群标签定义为20-30岁年轻女性。她们关注潮流动态以及女性话题，热爱摄影以及旅行，热爱生活，善于分享点评，网络社区是他们获取前沿资讯的渠道同时分享的主要渠道。她们日常触点APP多，且喜欢参与使用黏性大APP的最新活动，产生互动行为。
            </p>
            <p>精准定向投放技术，“重定向”挖掘潜在用户<br />
                以悦诗风吟品牌的历史投放、相关行业及竞品投放为蓝本，以曾经的广告浏览、点击人群为基础，建立悦诗风吟专属用户数据库。根据有效受众IMEI码分析有效受众特征，使用look-alike技术寻找潜在用户，扩大受众群体。将后续投放的有效人群及潜在人群，加入品牌专属数据库中，为日后广告再次投放做好充分准备。
            </p>
            <p><strong>优质Hero App导流传播，与受众深度互动</strong><br />
                在优质旅行Hero
                APP上，如蚂蜂窝、旅行翻译官，和目标受众进行深度互动，从而导流到H5页面引领受众参与好玩有趣的互动，达到积累品牌粉丝并且增强产品宣传的效果。在蚂蜂窝自由行APP启动页上打造整屏广告，实现媒体的流量全覆盖，并在蚂蜂窝首页焦点图、底部通栏以及旅行翻译官首页焦点图进行轮播。在定向方面，针对亚洲频道在港澳台、东南亚以及日韩等具体目的地首页中部通栏进行广告投放，与旅行摄影主题高度契合，收获了较好的宣传效果。
            </p>
            <p><strong>自媒体宣传报道，加强品牌二次曝光</strong><br />
                通过在微信、微博、官网等自媒体进行活动的宣传预热及后续报道，吸引更多的用户参与到活动中，加强品牌的二次曝光。</p>
            <p><strong>线上KOL营销联动效应</strong><br />
                启用红人资源，通过KOL在社交软件in上发布话题带动营销联动效应，同时加强宣传力度推出发现页banner。以KOL达人发图、玩字贴纸设计、关键词搜索、冠名话题以及品牌站等多种形式吸引受众的注意力。通过H5页面分享，引发大量话题UGC沉淀增加曝光量，极大地加强了品牌的宣传力度。
            </p>
            <p><a href="/wap/images/works/6677/21.png"><img
                        class="alignnone size-full wp-image-6779"
                        src="/wap/images/works/6677/21.png" alt="2" width="623"
                        height="246" /></a></p>
            <p><strong>设置中奖名单激励体制</strong><br />
                以#带上小绿瓶去旅行#为固定前缀格式，在任意一个地标式建筑或景点与小绿瓶合影并上传到活动网站，就有机会赢取悦诗风吟小绿瓶试用套装以及济州岛旅游基金等惊喜大奖。通过设置中奖名单激励体制，提高了用户的参与度以及活跃度，增加了品牌的曝光量。
            </p>
            <p><a href="/wap/images/works/6677/31.png"><img
                        class="alignnone size-full wp-image-6780"
                        src="/wap/images/works/6677/31.png" alt="3" width="605"
                        height="381" /></a></p>
            <p><strong>传播效果</strong><br />
                本次投放时间是2016年4月30日至2016年5月31日， 移动端产生曝光次数超过预估值的40%，点击率高达2.7%，精准抓取目标人群，收获较好的互动体验效果，有效实现了悦诗风吟的品牌曝光。</p>

        </div>
        <img src="/wap/images/wxfloat.jpg" class="wxfloat" />
        <div class="foot">
            <a
                href="http://www.hdtmedia.com">更多精彩点击电脑版本</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                href="#" id="btnfocuswx">关注互动通微信</a>
        </div>
    </div>
    <script src="/wap/js/jquery.min.js"></script>
    <script src="/wap/js/navigation.js"></script>
    <script src="/wap/js/common.js"></script>
</body>

</html>