<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <script src="/wap/js/meta.js"></script>
    <link rel="stylesheet" href="/wap/css/app.css">
</head>
<title>hdtMEDIA</title>

<body>

    <div class="pages">
        {{>wap_head}}
        <div class="pagecontentwrapper detailpage">
            <p><strong>案例背景</strong></p>
            <p>移动互联网的浪潮和手机技术的日新月异，加上HTML5技术“即点即玩、用户粘性”的特点，2015年下半年，优衣库审时度势，结合其品牌自媒体粉丝和400+家线下零售店优势，选择火爆的移动端进行品牌理念宣传，将“LifeWear服适人生”的品牌理念，根植在消费者心中。
            </p>
            <p>推广过程中，借助大数据，拥抱程序化购买，通过移动类数字媒体平台、多屏广告及H5技术，融入目标群体年轻中产人群的移动世界，呈现优衣库品牌理念 “LifeWear 服适人生”。</p>
            <p><strong>传播目标</strong></p>
            <p>1.以五个主题推广与消费者全面沟通品牌和产品理念，提升优衣库“Lifewear服适人生”系列商品的认识度和购买率；</p>
            <p>2.打造行业内O2O2O经典范例，实现品牌-商品-网络-入店/电商的互动传播。</p>
            <p><strong>营销策略</strong></p>
            <p>运用大数据，制定优质的移动媒介策略，结合自媒体、社交媒体平台、零售店和微支付，精准覆盖受众，创造整合的O2O2O粉丝经济！</p>
            <p>1.结合大数据分析规模化的消费者共性。通过搜集到的多维度数据对消费者进行精准画像，组成优衣库专属的核心人群数据库，从而达成广告的精准投放。</p>
            <p>2.合适的移动媒介精准传播。借助Hero APP和优质APP选择最佳媒体投放组合，向优衣库LifeWear目标人群精准投放APP广告，实现有效宣传。</p>
            <p>3.自媒体及社交媒体是传播核心。本次推广通过优衣库微博、微信，KOL等社交媒体，进行品牌的宣传预热及后续报道，加强曝光。</p>
            <p>4.连接到店体验。结合400多家门店，运用免费WiFi，Digital POP等展示渠道和移动支付，创造粉丝生态圈。</p>
            <p><strong>创意亮点</strong></p>
            <p>1.在互联网+的时代，以移动生活为顾客打造全新的消费体验，创造O2O2O粉丝经济！年轻中产人群，生活离不开手机。优衣库巧妙利用这个移动工具，透过对消费者生活需求的洞察，配合线上平台，结合品牌和产品“服适人生”的创意，吸引更多顾客到店消费体验，再以微支付平台促进销售；
            </p>
            <p>2.融入“Lifewear服适人生”品牌理念，在移动端推出几波主题（27000个着装组合，足够74年每天搭配不重复、懂你身体的牛仔裤、你和好友的默契指数、Fleece摇粒绒、热力觉醒等）的创意互动H5，分拨进行品牌和产品推广，全面沟通品牌和产品理念；
            </p>
            <p>3.与Lemaire跨界合作系列，开展“明星款微信抢先预约”的预售预热活动，同时，搭配媒体和自媒体的PR阵容；线下零售店面结合Lemaire主题，打造O2O强势传播！</p>
            <p><strong>执行过程</strong></p>
            <p>线上平台的品牌和产品传播</p>
            <p>1.Lifewear服适人生以“27000个着装组合，足够74年每天搭配不重复”为奖品，大大加强吸引力的同时，也真正体现“陪伴你一生”的品牌承诺。</p>
            <p><a href="/wap/images/works/6704/16.jpg"><img
                        class="alignnone size-full wp-image-6755"
                        src="/wap/images/works/6704/16.jpg" alt="1" width="233"
                        height="470" /></a></p>
            <p>2.RE-JEAN，赋予产品拟人化特质——“懂你身体的牛仔裤”，将定制概念植入其中，体现产品的创新。</p>
            <p><a href="/wap/images/works/6704/24.jpg"><img
                        class="alignnone size-full wp-image-6756"
                        src="/wap/images/works/6704/24.jpg" alt="2" width="233"
                        height="469" /></a><a href="/wap/images/works/6704/3.jpg"><img
                        class="alignnone size-full wp-image-6757"
                        src="/wap/images/works/6704/3.jpg" alt="3" width="232"
                        height="466" /></a></p>
            <p>3.Outerwear开展与产品相关的默契测试，“你和好友的默契指数”引发朋友圈好奇心试验，带出不同穿衣风格。</p>
            <p><a href="/wap/images/works/6704/41.jpg"><img
                        class="alignnone size-full wp-image-6758"
                        src="/wap/images/works/6704/41.jpg" alt="4" width="233"
                        height="470" /></a> <a href="/wap/images/works/6704/51.jpg"><img
                        class="alignnone size-full wp-image-6759"
                        src="/wap/images/works/6704/51.jpg" alt="5" width="233"
                        height="470" /></a></p>
            <p>4.Fleece“拥抱摇粒绒，舒暖靓丽心自在”。利用年轻人喜爱“晒”的特性，将美图秀秀、美人相机、POCO相机ICON植入，搭配新品温暖特质，精准投放爱“晒”人群。</p>
            <p><a href="/wap/images/works/6704/61.jpg"><img
                        class="alignnone size-full wp-image-6760"
                        src="/wap/images/works/6704/61.jpg" alt="6" width="233"
                        height="438" /></a></p>
            <p>5.Heattech“热力觉醒”巧用温度元素，结合天气类影响力最强的APP墨迹天气的功能，软性植入活动信息，也使得受众更容易接受对产品的认知。</p>
            <p><a href="/wap/images/works/6704/7.jpg"><img
                        class="alignnone size-full wp-image-6761"
                        src="/wap/images/works/6704/7.jpg" alt="7" width="233"
                        height="470" /><img class="alignnone size-full wp-image-6762"
                        src="/wap/images/works/6704/81.jpg" alt="8" width="233"
                        height="470" /></a></p>
            <p>6.Lemaire跨界合作系列实行“明星款微信抢先预约”，通过媒体及自媒体宣传，成为全城热点。</p>
            <p><a href="/wap/images/works/6704/9.jpg"><img
                        class="alignnone size-full wp-image-6763"
                        src="/wap/images/works/6704/9.jpg" alt="9" width="233"
                        height="302" /></a></p>
            <p>零售店</p>
            <p>多次推广，加深了品牌印象的同时，也吸引大批顾客到店。店内免费WI-FI、Digital POP，让顾客通过手机，轻松查看更多更详细的产品信息，提升购买欲。</p>
            <p><img class="alignnone size-full wp-image-6764"
                    src="/wap/images/works/6704/112.jpg" alt="11" width="233"
                    height="470" /></p>
            <p>微支付</p>
            <p>与微支付强强联手，推出“相依相微，优智生活”的大型O2O活动，实现销售提升之余，为优衣库自媒体带来更多的粉丝，实现双赢。</p>
            <p><a href="/wap/images/works/6704/121.jpg"><img
                        class="alignnone size-full wp-image-6765"
                        src="/wap/images/works/6704/121.jpg" alt="12" width="233"
                        height="470" /></a> <a href="/wap/images/works/6704/132.jpg"><img
                        class="alignnone size-full wp-image-6766"
                        src="/wap/images/works/6704/132.jpg" alt="13" width="233"
                        height="470" /></a></p>
            <p><strong>营销效果</strong></p>
            <p>这次营销活动，获得行业专家评审的一致认可和高度评价，摘得2015年度创新营销特别大奖、金触点•顶尖营销案例移动营销类金奖、金i奖中国品牌传播案例金奖等行业重量级大奖！</p>
            <p><strong>客户反馈</strong></p>
            <p>这次推广在互联网+时代，品牌数字化和品牌体验创新思维角度下，融合了我们的品牌LifeWear理念和产品创新体验，通过移动端数字平台和内容体验的不断创新，对目标受众进行有效个性化的品牌，产品，数字体验！多屏广告投放，结合自媒体，数字媒体，与各大社交媒体，在H5界面与受众进行深度沟通和互动。
            </p>
            <p>一系列线上活动将优衣库品牌和产品创新形象深入人心，有效地将线下用户带到线上参与互动并分享给朋友，吸引更多的人关注品牌，进而实现线上线下双向导流， 提升顾客参与和购买，并取得了非常好的品牌传播和生意成长的效果。
            </p>
            <p>——迅销(中国)商贸有限公司</p>

        </div>
        <img src="/wap/images/wxfloat.jpg" class="wxfloat" />
        <div class="foot">
            <a
                href="http://www.hdtmedia.com">更多精彩点击电脑版本</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                href="#" id="btnfocuswx">关注互动通微信</a>
        </div>
    </div>
    <script src="/wap/js/jquery.min.js"></script>
    <script src="/wap/js/navigation.js"></script>
    <script src="/wap/js/common.js"></script>
</body>

</html>