<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <script src="/wap/js/meta.js"></script>
    <link rel="stylesheet" href="/wap/css/app.css">
</head>
<title>hdtMEDIA</title>

<body>

    <div class="pages">
        {{>wap_head}}
        <div class="pagecontentwrapper detailpage">
            <p><strong>案例背景 </strong><br />
                近年来，当“雾霾”、PM2.5开始变得耳熟能详，对空气质量的关注以至对整个环境质量的关注已渗透到人们的日常生活中时，大家开始寻找环境友好型的生活用品。雷克萨斯作为全混动科技的引领者，于2014年4月推出全球首款LHD油电混合技术的中型豪华SUV
                NX 300h系列。那么如何推广雷克萨斯NX300h，让人们喜欢上并购买这款节能环保的座驾呢？2015年5月，雷克萨斯联手互动通数字广告平台，结合雾霾话题，开展一场“重现天空之净”的营销活动。</p>
            <p><strong>传播目标</strong><br />
                1.通过互联网平台，精准触达目标受众，深入诠释采用LHD油电混合技术的雷克萨斯NX 300h系列环保节能的亮点，引起目标受众的关注及购买兴趣；</p>
            <p>2.收集有价值的客户信息，促进品牌与消费者之间的互动，全面提升品牌影响力，树立健康正面的品牌形象，带来销量的提升。</p>
            <p><strong>传播策略</strong><br />
                雷克萨斯NX300h采用LHD油电全混动科技，不仅节能环保，还可以让目标人群在驾驶途中享受到速度与激情。针对这一产品特性，互动通从性别、年龄、收入和教育背景等人群标签切入，结合hdtDMP数据管理平台，研究目标消费人群的消费习惯，最终将人群标签确定为25-40岁，受过高等教育，有着中高档收入的男性群体。
            </p>
            <p>此次广告采用互动通程序化广告营销平台hdtDXP天气定向技术，及时、准确地从互动通气象数据库调取目标受众所在地的空气质量数据，在当地的PM2.5超过100
                ug/m3时（PM值处于75-115ug/m3时属于轻度污染），雷克萨斯全混动科技NX300h的广告页面就会在不同的媒体上展示，以节能环保的亮点呈现，直击受众眼球，传达雷克萨斯环保、能跑又能省的正面形象。
            </p>
            <p><strong>执行过程<br />
                </strong>根据雷克萨斯的产品特性，参考各尺寸广告的点击效果，调整各版本素材的投放量，当空气质量PM2.5达到100ug/m3时，页面就会展示广告，有的放矢，获得更精准高效的展示机会，减少广告因过多展示而产生的负面影响，吸引更多的关注，提升用户的购买兴趣。
            </p>
            <p><img class="alignnone size-full wp-image-6770"
                    src="/wap/images/works/6707/152.jpg" alt="15" width="593" height="79" />
            </p>
            <p><a href="/wap/images/works/6707/25.jpg"><img
                        class="alignnone size-full wp-image-6769"
                        src="/wap/images/works/6707/25.jpg" alt="2" width="536"
                        height="441" /></a></p>
            <p>投放过程分为三个阶段，分别为学习期、迭代期和效果期。</p>
            <p>1.第一阶段为学习期。在投放过程中搜集人群cookie，选定人群标签，适当添加媒体白名单，为后续优化手段提供依据。</p>
            <p><a href="/wap/images/works/6707/31.jpg"><img
                        class="alignnone size-full wp-image-6772"
                        src="/wap/images/works/6707/31.jpg" alt="3" width="595"
                        height="257" /></a></p>
            <p>2.第二阶段为迭代期。根据前期积累的人群cookie数据，不断优化媒体和兴趣标签。以点击、到达、转化等综合指标，实时监测媒体，不断更新媒体投放表单，着重增加在新闻资讯、视频网站、汽车资讯以及财经类网站上的曝光，提升点击率，加深品牌印象；根据广告的曝光量和点击量，对具有汽车、环保、网购、智能、财经等兴趣标签的流量定向投放，达到很好的品牌互动效果。
            </p>
            <p><a href="/wap/images/works/6707/93.jpg"><img
                        class="alignnone size-full wp-image-6776"
                        src="/wap/images/works/6707/93.jpg" alt="9" width="600"
                        height="242" /></a></p>
            <p>3.第三阶段为效果期。延续第二阶段的优质策略，结合搜集的数据，运用hdtDXP系统自动优化算法，进一步优化，有效提升点击率，吸引更多关注。</p>
            <p><strong>传播效果</strong><br />
                广告投放时间是2015年6月5日-7月8日，基于前期对目标人群的有效定位，有效达成了各维度的推广KPI考核目标，广告曝光量479,857,223次，超过预估值38%；点击数达904,941次，超过预估值的30%。
            </p>

        </div>
        <img src="/wap/images/wxfloat.jpg" class="wxfloat" />
        <div class="foot">
            <a
                href="http://www.hdtmedia.com">更多精彩点击电脑版本</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                href="#" id="btnfocuswx">关注互动通微信</a>
        </div>
    </div>
    <script src="/wap/js/jquery.min.js"></script>
    <script src="/wap/js/navigation.js"></script>
    <script src="/wap/js/common.js"></script>
</body>

</html>