<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <script src="/wap/js/meta.js"></script>
    <link rel="stylesheet" href="/wap/css/app.css">
</head>
<title>hdtMEDIA</title>

<body>

    <div class="pages">
        {{>wap_head}}
        <div class="pagecontentwrapper detailpage">
            <p><strong>案例背景：</strong></p>
            <p>近年来，中国的移动网民迅速崛起，占整体网民比例的九成，移动已成为用户日常生活的一部分。在这样的大环境下，移动广告的价值日益凸显。五粮液作为中国高端白酒，以其香气悠久、味醇厚等独特风格闻名于世。“五粮文化”不仅是中国白酒文化的象征，更是中国五千年农耕文化的代表。
            </p>
            <p>在中国传统节日中秋节期间，五粮液携手数字广告平台——互动通，将中华酒文化与传统佳节、移动广告巧妙融合，在凸显出五粮液独一无二的品牌文化与深厚的文化底蕴的同时，弘扬中华传统文化。</p>
            <p><strong>营销目标：</strong></p>
            <p>通过创意H5“五尊邀月”和移动广告的广泛传播，深度诠释五粮液的“五粮文化”，彰显其文化渊源和传承底蕴，提升五粮液品牌的知名度、关注度与美誉度。</p>
            <p><strong>目标人群：</strong></p>
            <p>以28-55岁中高端收入男性人群为主，他们是社会的中流砥柱，对生活品质有较高要求，是网络的中重度使用者，尤其偏好移动端的网络使用，习惯于在移动端进行社交、浏览新闻资讯等。</p>
            <p><strong>投放策略：</strong></p>
            <p>通过在优质app上投放精准广告，将目标用户引流至精心制作的创意H5页面，与受众产生互动，从而使五粮液的“五粮文化”得到广泛、深度的传播！</p>
            <p>1.结合多项定向技术锁定目标人群。</p>
            <p><strong>人群定向</strong> 基于目标人群的属性维度进行系统分析，寻找并筛选目标人群活跃标签，并结合其他定向方式精准投放。</p>
            <p><strong>媒体定向</strong> 基于选定媒体圈及优质媒体，圈定目标人群所在浏览媒体范围。</p>
            <p><strong>地域定向</strong> 依据地域IP/IMEI/IDFA识别技术，锁定全国的目标人群进行广告投放。</p>
            <p>2.通过品牌建设+深度沟通的方式，与用户产生互动， 使其对五粮液的酒文化有更深的了解！</p>
            <p><strong>创意策略：</strong></p>
            <p>制作意境H5——“五尊邀月”。</p>
            <p>“五粮文化”代表着中国五千年来的农耕文化。中国画与丝绸文化是经典的中国传统文化。</p>
            <p>本次投放将五粮液的品牌文化与中国画的泼墨技法、丝绸文化相结合。肆意挥洒的水墨、灵动飘逸的红丝绸彰显了浓浓的中国风。</p>
            <p>“五尊邀月”一词取自李白诗句“举杯邀明月”。巧妙使用中国传统诗词文化，意为五粮液邀明月举杯对饮，共贺佳节。“五”——代表“五粮”（大米、糯米、玉米、高梁、小麦），又代表了五粮液“香、醇、净、爽、浓”五种口感；“尊”——尊贵，也同“樽”，举杯邀明月之意；“邀月”——一轮圆月应和了中秋佳节，向用户传达中秋祝福。
            </p>
            <p>通过摇动手机、滑动屏幕等有趣互动，使用户深度参与其中，感受中国传统文化，领略五粮液的深厚文化底蕴。</p>
            <p><strong>执行过程</strong>：</p>
            <p><strong>洞察用户行为 投放有效广告</strong></p>
            <p>从目标人群的媒体月度覆盖及TGI综合指标来看，目标人群经常浏览的媒体类型为：新闻门户、财经、视频、生活社区、汽车。选择今日头条、航班管家、优听、喜马拉雅等优质app进行全屏、banner、信息流广告的投放。
            </p>
            <p style="text-align: center"><a
                    href="/wap/images/works/6841/%E5%85%A8%E5%B1%8F33.jpg"><img
                        class=" size-full wp-image-8960 aligncenter"
                        src="/wap/images/works/6841/%E5%85%A8%E5%B1%8F33.jpg" alt="全屏3"
                        width="350" height="622" /></a></p>
            <p style="text-align: center">全屏</p>
            <p style="text-align: center"><a
                    href="/wap/images/works/6841/%E4%BF%A1%E6%81%AF%E6%B5%8111.jpg"><img
                        class=" size-full wp-image-8962 aligncenter"
                        src="/wap/images/works/6841/%E4%BF%A1%E6%81%AF%E6%B5%8111.jpg"
                        alt="信息流1" width="350" height="622" /></a></p>
            <p style="text-align: center">信息流</p>
            <p>&nbsp;</p>
            <p><strong>“五尊邀月”，传达品牌文化与中秋祝福</strong></p>
            <p>用户点击app广告后，跳转至精美大气的H5界面。</p>
            <p>一轮圆月呼应中秋，用优雅的意境水墨挥洒动画为背景，耀眼的红色丝绸作为点缀，红与黑相得益彰，高雅大气。互动形式采用摇动手机、滑动屏幕等方式，提示用户参与互动，尽情挥洒（有让其感受和参与作画之意）。每次用户滑动屏幕后，背景水墨即产生奇妙变化，红丝绸优美飘动，画面会出现八字酒文化的阐释。在文字和优雅背景的结合中，体现“五粮液”酒的尊贵，让受众对五粮液品牌产生多样正面的联想。最后一帧向用户传递中秋祝福。
            </p>
            <p style="text-align: center"><a href="/wap/images/works/6841/011.png"><img
                        class=" size-full wp-image-8964 aligncenter"
                        src="/wap/images/works/6841/011.png" alt="01" width="350"
                        height="712" /></a></p>
            <p style="text-align: center">香、醇、净、爽、浓</p>
            <p style="text-align: center"><a href="/wap/images/works/6841/021.png"><img
                        class=" size-full wp-image-8965 aligncenter"
                        src="/wap/images/works/6841/021.png" alt="02" width="350"
                        height="712" /></a></p>
            <p style="text-align: center">五粮制造，古今同酿</p>
            <p style="text-align: center"><a href="/wap/images/works/6841/3.png"><img
                        class=" size-full wp-image-8966 aligncenter"
                        src="/wap/images/works/6841/3.png" alt="3" width="350"
                        height="712" /></a></p>
            <p style="text-align: center">集杂成醇，恰到好处</p>
            <p style="text-align: center"><a href="/wap/images/works/6841/4.png"><img
                        class=" size-full wp-image-8967 aligncenter"
                        src="/wap/images/works/6841/4.png" alt="4" width="350"
                        height="712" /></a></p>
            <p style="text-align: center">浓香美酒，天长地久</p>
            <p style="text-align: center"><a href="/wap/images/works/6841/051.png"><img
                        class=" size-full wp-image-8968 aligncenter"
                        src="/wap/images/works/6841/051.png" alt="05" width="350"
                        height="712" /></a></p>
            <p style="text-align: center">中秋祝福</p>
            <p><strong>投放效果：</strong></p>
            <p>经过中秋3天的投放：</p>
            <p>预估曝光量1000万次，实际曝光量1384万次，完成与预计数的138.4%；预估点击量5万次，实际完成点击量7.8万次，完成预计数的156%。实际投放效果超出预估，收获了良好的品牌曝光和互动效果！</p>
            <p><strong>客户评价：</strong></p>
            <p>这次投放通过有意境的创意内容，把五粮液的品牌文化与中国传统文化巧妙结合，有效传播了五粮液的品牌价值与内涵，我们对整体的传播过程和效果比较满意。</p>
            <p>——五粮液股份有限公司</p>

        </div>
        <img src="/wap/images/wxfloat.jpg" class="wxfloat" />
        <div class="foot">
            <a
                href="http://www.hdtmedia.com">更多精彩点击电脑版本</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                href="#" id="btnfocuswx">关注互动通微信</a>
        </div>
    </div>
    <script src="/wap/js/jquery.min.js"></script>
    <script src="/wap/js/navigation.js"></script>
    <script src="/wap/js/common.js"></script>
</body>

</html>