<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <script src="/wap/js/meta.js"></script>
    <link rel="stylesheet" href="/wap/css/app.css">
</head>
<title>hdtMEDIA</title>

<body>

    <div class="pages">
        {{>wap_head}}
        <div class="pagecontentwrapper detailpage">
            <p><strong>案例背景</strong></p>
            <p>每年的618，是年中的各大电商平台大战时期，各大品牌在此期间展开激烈竞争，吸引消费者的注意力，提升品牌的曝光度和知名度。作为高端厨电领导品牌的方太，希望在618大促期间保有一定的声量及曝光，获得消费者的认知与兴趣。
            </p>
            <p>618期间，方太主推产品“简•不凡”新品侧吸油烟机。在信息爆炸、生活丰富的时代，我们需要化繁为简。工作上我们需要专注某一个岗位，把平凡的事情做得不平凡，如此，才能在工作上做出成绩，在生活上过得幸福。生活上，我们也希望能够越来越简单。特别是移动互联网时代，人们获取信息的方式越来越容易，但同时信息的爆炸也给人们带来的困扰。比如传统电商平台虽然给消费者提供了海量的商品选择，但同时也增加了消费者的决策与选择成本。因此除了简单但功能不凡的产品，还需要有更简单的购买方式。特别是“简不凡”面向的是互联网一代，尤其是80后，他们更习惯移动购物，也更习惯通过简单的方式购物。
            </p>
            <p>此次，方太继续携手互动通，扩大618大促期间的声量、曝光与购买，同时，传达简不凡“一心向简”的理念，探索新的创新销售模式。</p>
            <p><strong>传播目标</strong></p>
            <p>1. 使更多消费者关注到方太电商618大促，关注到简不凡新品及其理念，吸引受众分享传播，从而实现品牌推广。<br />
                2. 提升简不凡新品的销售量。<br />
                3. 探索移动互联网时代创新销售模式。</p>
            <p><strong>目标人群</strong></p>
            <p>年龄25-45岁，有购房、厨房装修、翻修，改善厨房电器及日常生活品质等需求的准新人、新婚、家装家庭等高端人群。</p>
            <p><strong>创意策略</strong></p>
            <p>1. 制作创意H5界面。根据“简•不凡”的产品理念，通过滑动屏幕、摇动手机等互动，让用户在趣味中了解到简•不凡“一心向简”的理念。<br />
                2. 脱离电商平台的独立购买。当用户完成H5页面的互动后，可以领取现金券，直接跳转到购买页面。用户只需输入一些个人信息即可购买，简化了购买程序，是在如今各大电商平台兴盛的趋势下的一次大胆创新。</p>
            <p><strong>传播策略</strong></p>
            <p>通过在优质媒体向目标人群投放精准广告，吸引受众点击跳转创意H5页面，与用户产生趣味互动，并直接跳转至方太简不凡侧吸油烟机独立购买页面，脱离电商平台，使购买更加方便快捷！</p>
            <p>1. 基于大数据的目标人群选择。依托大数据，确定目标人群的基本属性和核心标签，实现广告的精准投放。<br />
                2. 筛选合适的优质APP。通过分析目标人群的媒体月度覆盖比及TGI综合指标，精准地选择新闻、时尚购物、财经、汽车等优质APP，保证投放量及优质的媒体/广告环境，提升广告转化效果。<br />
                3. APP广告与H5页面相结合。通过精准营销+深度沟通的方式，让目标人群参与此次传播过程。<br />
                4. 移动端的程序化购买投放。通过RTB实时交易进行人群购买，提高人群覆盖，实现新品信息更广泛的人群覆盖。</p>
            <p><strong>执行过程</strong></p>
            <p><em><strong>洞察用户行为，投放精准广告</strong></em><br />
                分析目标用户，洞察目标消费者行为，根据其的浏览习惯，选择凤凰新闻、腾讯新闻、ZAKER、优听、第一财经、好豆菜谱、美人妆、58同城、豆瓣、知乎等优质媒体投放方太618活动的广告。同时通过hdtMEDIA后台系统识别地域IP/IMEI/IDFA技术，锁定南京、哈尔滨、上海等一二线城市进行广告投放。依据人群标签，多维度定向技术与程序化购买方式，精准定位方太目标人群，精准追踪其网络使用轨迹，高效展示产品及活动信息，准确触达目标受众，进而加大活动信息的曝光，传递“一心向简”品牌理念。
            </p>
            <p style="text-align: center"><a href="/wap/images/works/6802/1.jpg"><img
                        class="alignnone size-full wp-image-6813"
                        src="/wap/images/works/6802/1.jpg" alt="1" width="350"
                        height="623" /></a></p>
            <p style="text-align: center">Banner</p>
            <p style="text-align: center"><a href="/wap/images/works/6802/2.jpg"><img
                        class="alignnone size-full wp-image-6814"
                        src="/wap/images/works/6802/2.jpg" alt="2" width="350"
                        height="622" /></a><br />
                全屏</p>
            <p style="text-align: center"><a href="/wap/images/works/6802/3.jpg"><img
                        class="alignnone size-full wp-image-6815"
                        src="/wap/images/works/6802/3.jpg" alt="3" width="350"
                        height="623" /></a><br />
                插屏</p>
            <p><em><strong>制作创意H5，促进传播</strong></em><br />
                用户点击媒体广告后，会跳转到精心搭建的H5界面，通过几个创意的互动小游戏，形象地传达出“简•不凡”“一心向简”的产品理念。</p>
            <p>1.触屏滑动开启“简”法生活。</p>
            <p style="text-align: center"><a href="/wap/images/works/6802/4.png"><img
                        class="alignnone size-full wp-image-6816"
                        src="/wap/images/works/6802/4.png" alt="4" width="550"
                        height="540" /></a></p>
            <p>2.“锁定目标走直线”：连接光点进行互动，通过光线带出产品外形卖点。</p>
            <p style="text-align: center"><a href="/wap/images/works/6802/5.png"><img
                        class="alignnone size-full wp-image-6817"
                        src="/wap/images/works/6802/5.png" alt="5" width="550"
                        height="540" /></a></p>
            <p>3.“各个击破才精准”： 方块代表生活中的各种烦恼 （感冒生病、没人做饭、状态不佳……），滑动屏幕将“烦恼”甩出画面，通过互动带出产品功能卖点。</p>
            <p style="text-align: center"><a href="/wap/images/works/6802/61.png"><img
                        class=" size-full wp-image-6823 aligncenter"
                        src="/wap/images/works/6802/61.png" alt="6" width="550"
                        height="525" /></a></p>
            <p style="text-align: center"><a href="/wap/images/works/6802/7.png"><img
                        class="alignnone size-full wp-image-6819"
                        src="/wap/images/works/6802/7.png" alt="7" width="550"
                        height="525" /></a></p>
            <p>4.“换个方向更有效”：晃动手机使路标换个方向，代表换一种生活方式。过关之后，即可领取“简法值”，即现金券。随即，跳转购买界面，输入信息使用现金券进行购买，简便快捷。</p>
            <p style="text-align: center"><a href="/wap/images/works/6802/8.png"><img
                        class="alignnone size-full wp-image-6820"
                        src="/wap/images/works/6802/8.png" alt="8" width="550"
                        height="525" /></a></p>
            <p style="text-align: center"><a href="/wap/images/works/6802/9.png"><img
                        class="alignnone size-full wp-image-6824"
                        src="/wap/images/works/6802/9.png" alt="9" width="550"
                        height="525" /></a></p>
            <p>5.通过一系列的互动，促使用户分享，从而实现二次传播。</p>
            <p style="text-align: center"><a href="/wap/images/works/6802/10.png"><img
                        class="alignnone size-full wp-image-6822"
                        src="/wap/images/works/6802/10.png" alt="10" width="350"
                        height="749" /></a></p>
            <p><strong>传播效果</strong></p>
            <p>经过2016年6月17日至6月20日为期4天的投放后，预估点击数275,000，实际完成点击数619,209，完成预计数的225.17%；实际点击成本为0.32元
                /CPC，为广告主节省了55.59%的费用，互动通在严格控制投放量的同时，为广告主节省了大量投放成本。同时当期即获得了接近两百个的意向购买顾客，对于此次的携手合作，方太表示满意。</p>

        </div>
        <img src="/wap/images/wxfloat.jpg" class="wxfloat" />
        <div class="foot">
            <a
                href="http://www.hdtmedia.com">更多精彩点击电脑版本</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                href="#" id="btnfocuswx">关注互动通微信</a>
        </div>
    </div>
    <script src="/wap/js/jquery.min.js"></script>
    <script src="/wap/js/navigation.js"></script>
    <script src="/wap/js/common.js"></script>
</body>

</html>