<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <script src="/wap/js/meta.js"></script>
    <link rel="stylesheet" href="/wap/css/app.css">
</head>
<title>hdtMEDIA</title>

<body>

    <div class="pages">
        {{>wap_head}}
        <div class="pagecontentwrapper detailpage">
            <p><strong>案例背景：</strong></p>
            <p>如今，无论是对于销售业还是广告业来说，数据都有着显著的价值。大数据已成为企业的重要资产，对于汽车行业来说更是如此。2016年，东风裕隆推出了优6
                SUV、新纳智捷5、锐3等全系车型。面对海量的人群，准确找到三种车型各自对应的目标受众，是个不小的困难。基于此，互动通借助hdtDMP，为东风裕隆搭建了专属的DMP数据库，助力这三款车型的曝光，精准触达目标受众，从而更好地完成试驾转化效果，为品牌创造更高价值。
            </p>
            <p><strong>传播目标：</strong></p>
            <p>运用东风裕隆专属DMP，分析目标受众，提升三款车型的TA%，提高广告投放效果。</p>
            <p><strong>传播策略：</strong></p>
            <p>1. 通过建立东风裕隆专属的DMP，分析广告转化的各维度人群特征与客户生命周期；用归因模型分析，衡量媒体价值；分析用户兴趣及行为变化趋势，为营销策略指明方向。</p>
            <p>2. 使用Look-alike算法，扩大目标人群。</p>
            <p><strong>执行过程：</strong></p>
            <p><strong>1. 量身定制数据库，提升TA%</strong></p>
            <p>三款不同车型有三种不同的受众，搭载为东风裕隆建立的专属DMP，准确找到各自的受众群体，进行精准投放。</p>
            <p>通过分析用户的基础信息，为用户建立多维度标签，准确定位每一车型的目标人群。针对每波投放进行不同的人群划分，从东风裕隆相关人群、核心人群、潜在人群三个人群维度进行投放，确保每波投放精准触达目标人群。对于在过往投放中观看并且有继续点击行为的用户，标记其广告行为，为后续项目投放积累目标受众数据库；对于在项目投放中，观看创意素材产生了有效播放时长的用户，进行标记处理，为后续投放储备用户数据。
            </p>
            <p>投放期间，在原有东风裕隆的人群基础上，利用重定向技术找回有效人群及潜在人群，从而进行投放。例如，在优6
                SUV的两波投放中，第一波投放，通过分析目标人群，获取到他们更喜欢浏览社会、汽车、财经、生活类网站，从而进行人群定向投放。相较于普通通投，此次通过借助东风裕隆专属DMP数据支持，TA%提升40%。</p>
            <p><a href="/wap/images/works/7055/%E4%B8%9C%E9%A3%8E%E8%A3%95%E9%9A%8612.png"><img
                        class=" size-full wp-image-10174 alignnone"
                        src="/wap/images/works/7055/%E4%B8%9C%E9%A3%8E%E8%A3%95%E9%9A%8612.png"
                        alt="东风裕隆1" width="550" height="229" /></a></p>
            <p>第二波投放，主要调用以往投放中汽车类广告主的投放数据进行分析，锁定东风裕隆核心人群。整波投放CTR提升60%。</p>
            <p><a href="/wap/images/works/7055/%E4%B8%9C%E9%A3%8E%E8%A3%95%E9%9A%8621.png"><img
                        class=" size-full wp-image-10176 alignnone"
                        src="/wap/images/works/7055/%E4%B8%9C%E9%A3%8E%E8%A3%95%E9%9A%8621.png"
                        alt="东风裕隆2" width="550" height="177" /></a> <a
                    href="/wap/images/works/7055/%E4%BC%9863.png"><br />
                </a><a href="/wap/images/works/7055/%E9%94%9033.png"><br />
                </a></p>
            <p><strong>2. 分析数据，实时优化</strong></p>
            <p>通过分析东风裕隆专属DMP的数据，更精确地了解目标受众的行为习惯，对投放进行实时优化。同时利用过往投放中所搜集的数据，运用Look-alike技术对有效Cookies进行深入分析，获得符合东风裕隆目标人群Cookies，向潜在人群投放广告。2016年3月至10月，共收集Cookie总数达8000万个。
            </p>
            <p>例如，通过东风裕隆专属DMP数据分析，匹配新纳智捷5的两大类人群标签偏社会类及偏享乐类，在投放中发现，享乐类标签的人群CTR偏高，而社会类的CTR偏低，到达率偏低，因此暂时停止社会类标签的投放，增加享乐类标签的投放。通过标签人群的点击优化，CTR提升了61%。
            </p>
            <p>3. <strong>前端收集试驾信息，提升广告转化效果</strong></p>
            <p>运用搭建的DMP，配合hdtDXP与hdtOTV在优质媒体投放广告，广告准确触达目标人群后，在创意上，增加用户无需点击跳转，即可填写试驾信息。从而减少了信息收集程序的繁琐，把目标受众转化成了潜在顾客，提升了广告转化效果。全系车型投放期间，三款车型收到的试驾信息大幅提升。
            </p>
            <p><a href="/wap/images/works/7055/%E7%BA%B353.png"><img
                        class=" size-full wp-image-10179 alignnone"
                        src="/wap/images/works/7055/%E7%BA%B353.png" alt="纳5" width="550"
                        height="239" /></a></p>
            <p><a href="/wap/images/works/7055/%E9%94%9033.png"><img
                        class=" size-full wp-image-10178 alignnone"
                        src="/wap/images/works/7055/%E9%94%9033.png" alt="锐3" width="550"
                        height="204" /></a></p>
            <p><a href="/wap/images/works/7055/%E4%BC%9863.png"><img
                        class=" size-full wp-image-10177 alignnone"
                        src="/wap/images/works/7055/%E4%BC%9863.png" alt="优6" width="550"
                        height="298" /></a></p>
            <p><strong>投放效果：</strong></p>
            <p>通过搭建东风裕隆专属DMP，精确地定向到了三款车型各自对应的目标人群。iFocus端与hdtDXP端、hdtOTV端曝光量与点击量均超出预估值，TA%、CTR与试驾量均大大提升。</p>
            <p>仅5-7月期间的投放，hdtDXP端点击率便超出预估值38.1%。</p>
            <p><strong>客户评价：</strong></p>
            <p>这次借助hdtDMP搭建的专属DMP的数据支持，投放效果有了很大提升，让我们更深刻体会到了数据的作用。</p>
            <p>——东风裕隆汽车销售有限公司</p>

        </div>
        <img src="/wap/images/wxfloat.jpg" class="wxfloat" />
        <div class="foot">
            <a
                href="http://www.hdtmedia.com">更多精彩点击电脑版本</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                href="#" id="btnfocuswx">关注互动通微信</a>
        </div>
    </div>
    <script src="/wap/js/jquery.min.js"></script>
    <script src="/wap/js/navigation.js"></script>
    <script src="/wap/js/common.js"></script>
</body>

</html>