<div class="contentwrapper">
    <div class="navigator">首页&nbsp;&nbsp;<img src="/images/navidot.png" width="8"
            height="9">&nbsp;&nbsp;精彩案例&nbsp;&nbsp;<img src="/images/navidot.png" width="8"
            height="9">&nbsp;&nbsp;最新案例&nbsp;&nbsp;</div>
    <div class="content">
        <div class="leftcolumn">
            <div class="newscontent">
                <div class="newstitle">{{example.title}}</div>
                <div class="newsdate">{{example.publish_date}}</div>
                {{{example.content}}}
            </div>
        </div>
        {{>contact_right}}
    </div>
</div>