
        <div class="contentwrapper">
            <div class="navigator">首页&nbsp;&nbsp;<img
                    src="/images/navidot.png" width="8"
                    height="9">&nbsp;&nbsp;关于我们&nbsp;&nbsp;<img
                    src="/images/navidot.png" width="8"
                    height="9">&nbsp;&nbsp;公司荣誉&nbsp;&nbsp;</div>
            <div class="content">
                <div class="leftcolumn introduce">
                    <div class="rollcontainer">
                        <a href="#" id="arrleft"></a>

                        <div class="rollicons">
                            <div id="iconcontainer">
                                <img src="/images/glory16.jpg"
                                    width="164" height="225">
                                <img src="/images/glory15.jpg"
                                    width="164" height="225">
                                <img src="/images/glory14.jpg"
                                    width="164" height="225">
                                <img src="/images/glory13.jpg"
                                    width="164" height="225">
                                <img src="/images/glory12.jpg"
                                    width="164" height="225">
                                <img src="/images/glory11.jpg"
                                    width="164" height="225">
                                <img src="/images/glory10.jpg"
                                    width="164" height="225">
                                <img src="/images/glory1.jpg"
                                    width="164" height="225">
                                <img src="/images/glory2.jpg"
                                    width="164" height="225">
                                <img src="/images/glory3.jpg"
                                    width="164" height="225">
                                <img src="/images/glory4.jpg"
                                    width="164" height="225">
                                <img src="/images/glory5.jpg"
                                    width="164" height="225">
                                <img src="/images/glory6.jpg"
                                    width="164" height="225">
                                <img src="/images/glory7.jpg"
                                    width="164" height="225">
                                <img src="/images/glory8.jpg"
                                    width="164" height="225">
                                <img src="/images/glory9.jpg"
                                    width="164" height="225">
                            </div>
                        </div>
                        <a href="#" id="arrright"></a>
                    </div>
                    <div id="yearlist">
                        <a href="#" class="round roundon">2021</a>
                        <a href="#" class="round">2020</a>
                        <a href="#" class="round">2019</a>
                        <a href="#" class="round">2018</a>
                        <a href="#" class="round">2017</a>
                        <a href="#" class="round">2016</a>
                        <a href="#" class="round">2015</a>
                        <a href="#" class="round">2014</a>
                        <a href="#" class="round">2013</a>
                        <a href="#" class="round">2012</a>
                        <a href="#" class="round">2011</a>
                        <a href="#" class="round">2010</a><br><br>
                        <div id="glory2021" class="glorylist" style="display:block;">
                            <div class="y2021">
                                <p>
                                    <!--StartFragment -->
                                </p>
                                <div>
                                    2021.01 互动通传媒集团荣获金瑞营销奖年度最佳大数据营销平台<br>
                                    2021.01 互动通传媒集团荣获2020年度上海广告行业优秀单位奖
                                </div>
                            </div>
                        </div>
                        <div id="glory2020" class="glorylist" style="display:block;">
                            <div class="y2020">
                                <p>
                                    <!--StartFragment -->
                                </p>
                                <div>
                                    2020.01 互动通传媒集团荣获上海市广告协会2019年度单位贡献奖<br>
                                    2020.01 互动通总裁邓广梼博士荣获上海市广告协会2019年度个人贡献奖
                                </div>
                            </div>
                        </div>
                        <div id="glory2019" class="glorylist" style="display:block;">
                            <div class="y2019">
                                <p>
                                    <!--StartFragment -->
                                </p>
                                <div>2019.05 互动通总裁邓广梼获金鼠标10周年数字营销功勋人物<br />
                                    2019.05 互动通获金鼠标10周年数字营销影响力公司<br />
                                    2019.04 互动通入选中国广告年度数字大奖“你必须知道的25家数字营销公司”<br />
                                    2019.01 《互联网周刊》发布2018年度数字营销公司排行，互动通排名第11<br />
                                    2019.01 互动通控股集团荣获上海市广告协会2018年度单位贡献奖<br />
                                    2019.01 互动通创始人&amp;董事长郑斌荣获上海市广告协会2018年度个人贡献奖<br />
                                    2019.01 互动通总裁邓广梼博士荣获上海市广告协会2018年度个人贡献奖</div>
                            </div>
                        </div>
                        <div id="glory2018" class="glorylist" style="display:block;">
                            <div class="y2018">
                                <p>2018.12 都市丽人&amp;狐友国民校花大赛合作项目获搜狐IP内容营销年度案例奖<br />
                                    2018.12 互动通荣获2018 Morketing Awards灵眸奖2018十大综合实力营销平台奖<br />
                                    2018.09 “丰谷酒王移动营销”获中国媒介营销奖&amp;互动创意奖-媒介营销奖-整合营销类铜奖<br />
                                    2018.05 hdtOTV获IAI国际广告奖系统平台铜奖<br />
                                    2018.05 “精益求精，OTV程序化视频广告助力百威精准传播”获IAI国际广告奖技术营销铜奖<br />
                                    2018.03 互动通入选2017你必须知道的25家数字营销公司<br />
                                    2018.03 互动通CEO郑斌获互联网周刊2017年度最具行业领导力人物奖<br />
                                    2018.03 互动通总裁邓广梼获互联网周刊2017年度最具业内深度影响力人物奖<br />
                                    2018.03 hdtKOL获互联网周刊2017年度产品奖<br />
                                    2018.01 互动通获2017年上海市广告协会单位贡献奖<br />
                                    2018.01 互动通CEO郑斌获2017年上海市广告协会个人贡献奖<br />
                                    2018.01 互动通总裁邓广梼获2017年上海市广告协会个人贡献奖<br />
                                    2018.01 互动通获《互联网周刊》2017年度数字营销公司排行榜第七名</p>
                            </div>
                        </div>
                        <div id="glory2017" class="glorylist" style="display:block;">
                            <div class="y2017">
                                <p>2017.12 “精益求精，程序化OTV投放助力百威精准传播”获金i奖2017年度程序化视频广告全场大奖<br />
                                    2017.12 “精益求精，程序化OTV投放助力百威精准传播” 获2017年度最佳创新营销案例奖银奖<br />
                                    2017.12 hdtKOL获2017年度最佳创新营销平台奖<br />
                                    2017.11 互动通获灵眸奖2017十大影响力独立营销服务机构奖<br />
                                    2017.11 互动通总裁邓广梼获中国广告学术发展杰出贡献人物奖<br />
                                    2017.11 “解Fun年轻人——优衣库：数字化创新营销的科学与哲学”获媒介360营销传播奖跨界创新奖金奖<br />
                                    2017.09 “互动通15周年经典音乐会引爆社会化传播热潮”获ADMEN国际大奖活动营销类实战金案奖<br />
                                    2017.07 互动通总裁邓广梼获北京广告产业发展30周年杰出贡献奖<br />
                                    2017.07 “解Fun年轻人——优衣库：数字化创新营销的科学与哲学”获TopDigital社会化营销案例银奖<br />
                                    2017.07 “DMP助力东风裕隆大数据营销”获TopDigital数据营销案例铜奖<br />
                                    2017.06 互动通获金成奖年度最佳内容营销公司奖<br />
                                    2017.05 互动通入选2016年度中国广告企业百强榜<br />
                                    2017.05 “解Fun年轻人——优衣库：数字化创新营销的科学与哲学”获IAI国际广告奖整合营销铜奖<br />
                                    2017.05 “悦诗风吟：带着小绿瓶去旅行”获IAI国际广告奖整合营销铜奖<br />
                                    2017.05 互动通客户“五粮液”获中国经典传播虎啸奖年度杰出贡献广告主奖<br />
                                    2017.05 “五尊邀月，共贺中秋——水墨意境H5助力五粮液中秋节推广”获中国广告主金远奖移动类银奖<br />
                                    2017.04 互动通获GMX科技行业创新大奖年度最佳技术服务营销奖<br />
                                    2017.04 “OTV程序化视频营销助力联合利华金纺推广”获金鼠标•数字营销大赛程序化购买类银奖<br />
                                    2017.04 hdtOTV获金鼠标•数字营销大赛最佳数字营销平台<br />
                                    2017.04 互动通CEO郑斌入选Digital A-List“愿景者”<br />
                                    2017.03 互动通获中国广告协会一级广告企业CNAA I证明商标<br />
                                    2017.03 互动通入选2016你必须知道的25家数字代理公司<br />
                                    2017.03 “解Fun年轻人——优衣库：数字化创新营销的科学与哲学”获中国广告年度数字大奖技术整合组-移动营销类金奖<br />
                                    2017.03 “解Fun年轻人——优衣库：数字化创新营销的科学与哲学”获中国广告年度数字大奖内容营销组-社会化营销类银奖<br />
                                    2017.03 “解Fun年轻人——优衣库：数字化创新营销的科学与哲学”获中国广告年度数字大奖内容营销组-数字创意类铜奖<br />
                                    2017.03 “OTV程序化视频营销助力联合利华金纺推广”获中国广告年度数字大奖技术整合组-程序化购买类铜奖<br />
                                    2017.03 互动通CEO郑斌获《互联网周刊》2016年度最具行业领导力人物奖<br />
                                    2017.03 hdtOTV获《互联网周刊》2016年度产品奖<br />
                                    2017.01 互动通获2016年上海市广告协会单位贡献奖<br />
                                    2017.01 互动通CEO郑斌获2016年上海市广告协会个人贡献奖<br />
                                    2017.01 互动通总裁邓广梼获2016年上海市广告协会个人贡献奖<br />
                                    2017.01 互动通获《互联网周刊》2016年度网络广告公司综合服务水平排行榜第七名</p>
                            </div>
                        </div>
                        <div id="glory2016" class="glorylist" style="display:block;">
                            <div class="y2016">
                                <p>2016.12 “OTV程序化视频营销助力联合利华金纺推广”获金i奖2016年度程序化视频营销全场大奖<br />
                                    2016.12 “悦诗风吟：带着小绿瓶去旅行”获金i奖2016年度最佳移动数字营销案例奖<br />
                                    2016.12 “解Fun年轻人——优衣库：数字化创新营销的科学与哲学”获金i奖2016年度中国经典传播案例奖<br />
                                    2016.12 “优衣库2016春节场景营销O2O：优衣·幸运·穿回家”获金触点顶尖营销案例银奖<br />
                                    2016.12 “五尊邀月，共贺中秋——水墨意境H5助力五粮液中秋节推广”获金触点年度经典营销案例奖<br />
                                    2016.12 hdtMobile获金触点最具技术创新力营销产品奖<br />
                                    2016.12 “解Fun年轻人——优衣库：数字化创新营销的科学与哲学”获2016年度创新营销大奖案例奖金奖<br />
                                    2016.12 hdtOTV 获2016年度创新营销大奖平台奖<br />
                                    2016.11 “优衣库粉丝经济——移动世界的服适人生”获MMA Smarties大奖亚太区铜奖<br />
                                    2016.11 “优衣库 X KAWS重塑潮流文化，对话潮流艺术OXO整合营销”获MMA Smarties大奖亚太区铜奖<br />
                                    2016.11 hdtMobile获TMA年度最佳移动营销服务平台奖<br />
                                    2016.11 “优衣库 X KAWS重塑潮流文化，对话潮流艺术OXO整合营销”获金瑞营销奖最佳创意整合奖<br />
                                    2016.11 hdtMobile获梅花营销创新奖最佳营销产品创新奖铜奖<br />
                                    2016.11 “优衣库粉丝经济——移动世界的服适人生”获金网奖电商O2O金奖<br />
                                    2016.11 “Volvo S60L：心强大，才能力从容”获金网奖大数据营销银奖<br />
                                    2016.11 互动通客户沃尔沃获金网奖网络营销最佳品牌主<br />
                                    2016.11 “优衣库粉丝经济——移动世界的服适人生”获蒲公英奖O2O营销类金奖<br />
                                    2016.11 “悦诗风吟：带着小绿瓶去旅行”获蒲公英奖移动营销类银奖<br />
                                    2016.11 互动通获蒲公英奖年度最佳机构奖<br />
                                    2016.11 hdtMobile获蒲公英奖年度最佳产品奖<br />
                                    2016.10 互动通获易观之星奖<br />
                                    2016.10 “创意H5助力方太简•不凡618欢购节推广”获中国广告长城奖互动创意优秀奖<br />
                                    2016.10 hdtDXP获金投赏工业设计铜奖<br />
                                    2016.09 “优衣库粉丝经济——移动世界的服适人生”获媒介360营销传播奖媒介运用奖金奖<br />
                                    2016.09 “优衣库粉丝经济——移动世界的服适人生”获媒介360营销传播奖跨界创新奖金奖<br />
                                    2016.09 “雷克萨斯全混动科技NX300h：不充电，就来电”获媒介360营销传播奖媒介运用奖铜奖<br />
                                    2016.09 “创意H5助力方太简•不凡618欢购节推广”获移动营销金坐标奖最佳H5营销案例奖<br />
                                    2016.09 “悦诗风吟：带着小绿瓶去旅行”获移动营销金坐标奖最佳品牌营销案例奖<br />
                                    2016.09 hdtMobile 获移动营销金坐标奖2016年度最佳移动广告平台奖<br />
                                    2016.09 互动通获大数据金比特奖卓越公司奖<br />
                                    2016.09 hdtDXP 获大数据金比特奖2016最具市场竞争力DSP奖<br />
                                    2016.09 “优衣库粉丝经济——移动世界的服适人生”入围MMA中国Smarties大奖<br />
                                    2016.07 “优衣库粉丝经济——移动世界的服适人生”获IAI国际广告奖整合营销金奖<br />
                                    2016.07 “雷克萨斯全混动科技NX300h：不充电，就来电”获IAI国际广告奖媒体创意银奖<br />
                                    2016.06 H2荣获TopDigital互联网应用企业服务铜奖<br />
                                    2016.06 “优衣库粉丝经济——移动世界的服适人生”获TopDigital服务商组移动媒介服务银奖<br />
                                    2016.06 “雷克萨斯全混动科技NX300h：不充电，就来电”获TopDigital服务商组数字技术平台铜奖<br />
                                    2016.06 “优衣库粉丝经济——移动世界的服适人生”获中国经典传播虎啸奖整合营销奖<br />
                                    2016.06 互动通客户“优衣库”获中国经典传播虎啸奖年度广告主杰出贡献大奖<br />
                                    2016.06 互动通获2015-2016年度中国经典传播虎啸奖年度营销驱动力大奖<br />
                                    2016.05 互动通获金成奖2016年度最佳内容营销公司奖<br />
                                    2016.05 “优衣库粉丝经济——移动世界的服适人生”获金梧奖移动O2O金奖<br />
                                    2016.05 “雷克萨斯全混动科技NX300h：不充电，就来电”获金梧奖技术创新营销银奖<br />
                                    2016.05 “雷克萨斯全混动科技NX300h：不充电，就来电”获金梧奖程序化购买经典案例<br />
                                    2016.05 H2获金梧奖年度最佳系统工具平台<br />
                                    2016.04 “优衣库粉丝经济——移动世界的服适人生”获第七届金鼠标•数字营销大赛移动营销互动类金奖<br />
                                    2016.04 H2荣获第七届金鼠标•数字营销大赛年度最佳数字营销平台<br />
                                    2016.04 互动通总裁邓广梼获第七届金鼠标•数字营销大赛数字营销年度影响力人物<br />
                                    2016.04 互动通CEO郑斌获2016中国区Digital A-List（程序化技术）人物奖<br />
                                    2016.04 互动通总裁邓广梼获2016中国区Digital A-List（社交媒体）人物奖<br />
                                    2016.03 互动通获2015年上海市广告协会单位贡献奖<br />
                                    2016.03 互动通CEO郑斌获2015年上海市广告协会个人贡献奖<br />
                                    2016.03 互动通总裁邓广梼获2015年上海市广告协会个人贡献奖<br />
                                    2016.03 互动通CEO郑斌获《互联网周刊》2015年度最具技术领导力人物<br />
                                    2016.03 互动通总裁邓广梼获《互联网周刊》2015年度最具品牌领导力人物奖<br />
                                    2016.03 互动通入选2015你必须知道的25家数字代理公司<br />
                                    2016.03 互动通客户“优衣库”获中国广告年度数字影响力品牌<br />
                                    2016.03 “优衣库粉丝经济——移动世界的服适人生”获中国广告年度数字大奖内容营销组-数字创意类金奖<br />
                                    2016.03 “优衣库粉丝经济——移动世界的服适人生”获中国广告年度数字大奖内容营销组-社会化营销类银奖<br />
                                    2016.03 “优衣库粉丝经济——移动世界的服适人生”获中国广告年度数字大奖技术整合组-移动营销类银奖<br />
                                    2016.01 互动通获《互联网周刊》2015年度中国网络广告公司综合服务水平排行榜第五名</p>
                            </div>
                        </div>
                        <div id="glory2015" class="glorylist" style="display:block;">
                            <div class="y2015">
                                <p>2015.12 “优衣库：移动世界的服适人生”获金i奖中国品牌传播案例金奖<br />
                                    2015.12 hdtDXP荣获金i奖2015年度最佳网络营销产品奖<br />
                                    2015.12 “优衣库粉丝经济：移动时代互联网+的零售品牌突破”获金触点•顶尖营销案例移动营销类金奖<br />
                                    2015.12 “雷克萨斯全混动科技NX300h：不充电，就来电”获金触点•年度十大大数据经典营销案例<br />
                                    2015.12 hdtDXP荣获金触点•实效大数据营销平台奖<br />
                                    2015.12 互动通总裁邓广梼荣获金触点•2015年度营销领袖人物奖<br />
                                    2015.12 “移动世界的“服适人生”：优衣库粉丝经济O2O突破”获2015年度创新营销特别大奖<br />
                                    2015.12 hdtDXP荣获2015年度最佳创新营销产品与平台奖<br />
                                    2015.12 “精彩夏威夷，约“惠”银联”获金网奖整合营销类铜奖<br />
                                    2015.12 H2荣登金网年度互联网技术创新产品TOP榜<br />
                                    2015.12 “优衣库UNIQLO粉丝经济：移动世界的服适人生”获Forrester2015年度数字营销榜单B2C推广类优秀奖<br />
                                    2015.11 “福特嘉年华：音速极客”获金鼎创意传播国际大奖小预算类铜奖<br />
                                    2015.11 金鼎创意传播国际大奖营销价值网络品牌奖<br />
                                    2015.11 hdtDXP荣获TMA年度移动营销创新平台奖<br />
                                    2015.11 互动通CEO郑斌荣获TMA年度移动营销领军人物奖<br />
                                    2015.11 TMA年度最佳移动营销公司奖<br />
                                    2015.11 华东销售团队荣获梅花营销创新奖年度团队金奖<br />
                                    2015.11 H2荣获梅花营销创新奖最佳网络广告技术创新铜奖<br />
                                    2015.10 “精彩夏威夷，约“惠”银联”获蒲公英奖移动营销类银奖<br />
                                    2015.10 “新康泰克通气鼻贴程序化购买”获蒲公英奖程序化购买类银奖<br />
                                    2015.10 hdtDXP荣获蒲公英奖年度最佳平台奖<br />
                                    2015.10 “精彩夏威夷，约“惠”银联”获金瑞营销奖整合营销奖<br />
                                    2015.10 “福特嘉年华：音速极客”获中国广告长城奖媒介营销铜奖<br />
                                    2015.08 “福特嘉年华：全程竞速，创造你的加速度”获媒介360营销传播专案奖交通工具数字营销传播铜奖<br />
                                    2015.08 互动通总裁邓广梼荣获中国理想品牌数字互动年度风云人物奖<br />
                                    2015.06 2015中国网络广告公司新资源整合发展力排行榜第七名<br />
                                    2015.06 2014-2015年度中国经典传播虎啸奖年度营销驱动力大奖<br />
                                    2015.06 “精彩夏威夷，约“惠”银联”获中国经典传播虎啸奖旅游服务与房产类铜奖<br />
                                    2015.06 互动通客户“方太”获中国经典传播虎啸奖年度广告主杰出贡献大奖<br />
                                    2015.06 “方太：至强吸力，不服来比”获2015TopDigital Awards创新奖数字技术平台类铜奖<br />
                                    2015.05 金成奖2015年度最佳内容营销公司奖<br />
                                    2015.04 互动通客户“方太”获第六届金鼠标•数字营销大赛数字营销最具影响力品牌<br />
                                    2015.04 hdtDXP荣获第六届金鼠标•数字营销大赛年度数字营销最佳平台奖<br />
                                    2015.04 互动通CEO郑斌荣获第六届金鼠标•数字营销大赛数字营销年度影响力人物<br />
                                    2015.04 互动通华北销售团队荣膺第六届金鼠标•数字营销大赛年度数字营销金牌团队<br />
                                    2015.04 互动通CEO郑斌获2015中国区Digital A-List人物奖<br />
                                    2015.03 2014中国广告数字代理公司媒介代理类年度大奖<br />
                                    2015.03 入选2014你必须知道的25家互动营销公司<br />
                                    2015.03 2014年上海市广告业白玉兰奖单位贡献奖<br />
                                    2015.03 互动通CEO郑斌荣获2014年上海市广告业白玉兰奖个人贡献奖<br />
                                    2015.03 互动通总裁邓广梼荣获2014年上海市广告业白玉兰奖个人贡献奖<br />
                                    2015.03 2014年度最佳数字营销公司雇主第二名<br />
                                    2015.01 iworld Awards金赢销大奖年度最佳营销服务奖<br />
                                    2015.01 hdtDXP荣获iworld Awards金赢销大奖数据技术产品Top100需求方平台奖<br />
                                    2015.01 “福特嘉年华：全程竞速，创造你的加速度”获iworld Awards金赢销大奖年度整合营销案例奖<br />
                                    2015.01 “方太：至强吸力，不服来比”获iworld Awards金赢销大奖年度电商案例奖<br />
                                    2015.01 “交通银行：最红星期五，优惠周周提醒”获iworld Awards金赢销大奖年度移动案例奖<br />
                                    2015.01 互动通获《互联网周刊》2014中国网络广告公司综合服务水平排行榜第九名</p>
                                <p><span style="line-height: 1.5;"><br />
                                    </span><span style="line-height: 1.5;"><br />
                                    </span><span style="line-height: 1.5;"><br />
                                    </span></p>
                            </div>
                        </div>
                        <div id="glory2014" class="glorylist" style="display:block;">
                            <div class="y2014">
                                <p>2014.12 2014年度中国网络广告公司移动类金奖<br />
                                    2014.12 hdtSSP荣获2014年度最佳创新营销平台和产品奖<br />
                                    2014.12 “福特嘉年华——全城竞速，创造你的加速度”荣获2014年度最佳行业创新营销案例汽车行业银奖<br />
                                    2014.11 金鼎最具创意传播价值平台奖<br />
                                    2014.11 “福特嘉年华——全城竞速，创造你的加速度”荣获创意传播小预算类银奖<br />
                                    2014.11 hdtDXP荣获梅花营销创新奖最佳网络广告技术奖<br />
                                    2014.11 “交通银行：最红星期五” 荣获梅花营销创新奖最佳移动营销奖<br />
                                    2014.10 “交通银行：最红星期五”荣获2014第六届金网奖移动营销铜奖<br />
                                    2014.10 “福特嘉年华：全城竞速，创造你的加速度！” 荣获2014第六届金网奖移动营销铜奖<br />
                                    2014.10 “福特嘉年华：全城竞速，创造你的加速度！” 荣获中国广告长城奖互动创意奖数字营销无线类优秀奖<br />
                                    2014.10 “214情元节‘缘满’爱的表达——互动通多屏移动营销” 荣获金瑞营销奖2014年度中国最佳网络广告案例奖<br />
                                    2014.10 hdtSSP荣获金投赏产品设计组-软件及网络服务类提名奖<br />
                                    2014.10 中国广告协会一级广告企业CNAA I证明商标<br />
                                    2014.09 “交通银行：最红星期五”荣获TopDigital2014创新移动大奖<br />
                                    2014.09 “快到手机里来——广汽丰田逸致视频&amp;手机互动体验”获得中广国际杯广告金像奖移动媒体优秀奖<br />
                                    2014.06 互动通CEO郑斌荣获2014中国区Digital A-List人物奖<br />
                                    2014.06 中国经典传播虎啸奖年度营销驱动力大奖<br />
                                    2014.06 “214情元节缘满爱的表达——互动通多屏移动营销案例”获中国经典传播虎啸奖网络服务及电子产品类铜奖<br />
                                    2014.06 “福特嘉年华：全城竞速，创造你的加速度！”获中国经典传播虎啸奖机动车及交通类优秀奖<br />
                                    2014.06 “红牛：你的能量，超乎你想象”获中国经典传播虎啸奖饮料类优秀奖<br />
                                    2014.06 互动通客户“红牛”获中国经典传播虎啸奖年度广告主杰出贡献奖<br />
                                    2014.04 “互动通：214情元节缘满爱的表达”获2014中国内容营销盛典最佳多屏整合营销案例奖金奖<br />
                                    2014.04 “福特嘉年华：全程竞速，创造你的加速度”获2014中国内容营销盛典最佳自制/定制内容营销案例奖铜奖<br />
                                    2014.04 互动通总裁邓广梼荣获第五届金鼠标•网络营销大赛年度网络营销杰出贡献人物奖<br />
                                    2014.04 互动通华南销售团队荣膺第五届金鼠标•网络营销大赛年度最佳网络营销团队<br />
                                    2014.04 “福特翼虎：开启无尽可能”获第五届金鼠标•网络营销大赛案例类视频营销类铜奖<br />
                                    2014.04 “红星美凯龙创享家居文化之美”活动网站获第五届金鼠标•网络营销大赛年度最佳品牌活动网站<br />
                                    2014.04 互动通iCast+获第五届金鼠标•网络营销大赛年度最佳网络营销平台<br />
                                    2014.03 互动通获中国广告协会一级广告企业CNAA I证明商标<br />
                                    2014.03 互动通CEO郑斌被评为2013年中国十大数字营销年度人物<br />
                                    2014.02 21世纪国际广告峰会中国广告行业最具竞争力公司<br />
                                    2014.02 互动通总裁邓广梼荣获上海市广告协会2013年度协会工作贡献奖<br />
                                    2014.02 互动通客户“福特”获2013年度中国最具传播力品牌<br />
                                    2014.01 “快到手机里来——广汽丰田逸致视频&amp;手机互动体验”获2013年度金赢销奖年度整合营销案例TOP10<br />
                                    2014.01 互动通总裁邓广梼荣获智慧营销研究院2013年度最上镜先生奖</p>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                        <div id="glory2013" class="glorylist">
                            <div class="y2013">
                                <p>2013.12 《互联网周刊》2013中国网络广告公司综合服务水平排行榜第十名<br />
                                    2013.12 “奔驰Smart：10亿组合随你变”获年度全媒体营销大奖<br />
                                    2013.12 “快到手机里来——广汽丰田逸致视频&amp;手机互动体验”获年度全媒体营销大奖<br />
                                    2013.12 中国互联网经济论坛暨金i奖颁奖盛典2013年最佳富媒体平台奖<br />
                                    2013.12 2013年度天涯社区创意先锋奖<br />
                                    2013.11 iCast+获2013中国创新营销峰会年度最佳创新营销作品奖<br />
                                    2013.11 “周生生：拾取鱼悦”获金投赏媒体公司组广告网络铜奖<br />
                                    2013.11 “快到手机里来——广汽丰田逸致视频&amp;手机互动营销”获金鼠标移动APP营销大赛案例类金奖<br />
                                    2013.11 “快到手机里来——广汽丰田逸致视频&amp;手机互动营销”获金鼠标移动APP营销大赛最佳用户体验奖<br />
                                    2013.11 “周生生：拾取鱼悦”获梅花营销创新奖年度社媒营销创新提名奖<br />
                                    2013.10 “快到手机里来——广汽丰田逸致”获金瑞营销奖2013年度最佳无线营销案例奖<br />
                                    2013.10 “交通银行信用卡：2013点亮愿望新年派礼”获2013中国广告长城奖媒介营销奖优秀奖<br />
                                    2013.10 “安儿乐：百万打造幽默小童星”获金网奖整合营销优秀奖<br />
                                    2013.10 “快到手机里来——广汽丰田逸致视频&amp;手机互动营销”获金网奖移动营销优秀奖<br />
                                    2013.10 “奔驰Smart：10亿组合随你变”获金蜜蜂奖整合营销传播类银奖<br />
                                    2013.09 互动通总裁邓广梼荣获中国创意传播领袖人物奖<br />
                                    2013.09 “交通银行信用卡：2013点亮愿望新年派礼”获中国创意传播奖小预算类金奖<br />
                                    2013.09 “奔驰GLK：势在，必型”获中国创意传播大奖耐用品类铜奖<br />
                                    2013.07 “安儿乐：百万打造幽默小巨星”获今典奖年度最佳互动营销案例<br />
                                    2013.07 “周生生：拾取鱼悦”获2013MMA无线营销奖媒体策略-跨移动整合银奖<br />
                                    2013.07 戛纳魅力中国周贡献奖<br />
                                    2013.06 DAOY2012数字媒体代理商第二名<br />
                                    2013.05 中国经典传播虎啸大奖2012年度最佳技术驱动行业奖<br />
                                    2013.05 “您的挑战，惠有方案”获中国经典传播虎啸奖数码用品及关联品类案例铜奖<br />
                                    2013.05 “交通银行信用卡：2013点亮愿望，新年派礼”获中国经典传播虎啸奖金融、保险类案例优秀奖<br />
                                    2013.05 “奔驰GLK：势在，必型”获中国经典传播虎啸奖交通运输及关联品类案例优秀奖<br />
                                    2013.05 “交通银行信用卡：2013点亮愿望，新年派礼”获全球移动互联网大会GMIC最佳广告创意奖<br />
                                    2013.04 互动通CEO郑斌被评为第四届金鼠标•网络营销大赛年度网络营销最具魅力男性<br />
                                    2013.04 互动通华东销售团队荣膺第四届金鼠标•网络营销大赛年度网络营销金牌团队<br />
                                    2013.03 上海市广告协会资深会员荣誉证书<br />
                                    2013.01 “奥迪A7，灵感天成”获第35届时报华文广告金像奖网路数位广告类横幅广告别交通运输项佳作<br />
                                    2013.01 “三星泡泡净洗衣机：省时29分钟把时间还给生活”获2012年度金赢销大奖年度最佳移动营销创新大奖<br />
                                    2013.01 hdtDXP获2012年度金赢销大奖年度最佳技术大奖<br />
                                    2013.01 “Adidas：罗斯归来”获2012年度金赢销大奖年度最佳电子商务营销案例大奖<br />
                                    2013.01 互动通总裁邓广梼荣登2012年度AD100网络广告百人风云榜<br />
                                    2013.01 21世纪广告国际峰会中国广告行业最具竞争力公司</p>
                            </div>
                        </div>
                        <div id="glory2012" class="glorylist">
                            <div class="y2012">
                                <p>2012.12 “三得利纯生缤纷畅享时刻互联网推广方案”获2012全媒体营销峰会优秀全媒体营销区域传播实效案例<br />
                                    2012.12 互动通总裁邓广梼被评为首届中国传播领袖论坛2012中国传播年度人物<br />
                                    2012.11 MoCast获2012中国创新营销峰会年度最佳创新营销产品奖<br />
                                    2012.11 MoCast获金投赏产品及解决方案铜奖<br />
                                    2012.11 互动通CEO郑斌荣获金瑞营销奖中国网络广告十五周年杰出贡献奖<br />
                                    2012.11 互动通资深副总裁袁珏明荣获金瑞营销奖中国网络广告十五周年杰出贡献奖<br />
                                    2012.11 “奥迪A7，灵感天成”获2012年度金瑞营销奖中国最佳网络广告案例奖<br />
                                    2012.10 “伊利舒化奶”获中国广告长城奖互动创意优秀奖<br />
                                    2012.09 “奥迪A7，灵感天成”获第四届金网奖网络实效营销银奖<br />
                                    2012.09 互动通CEO郑斌荣获金网奖年度网络营销新锐人物奖<br />
                                    2012.08 “伊利舒化奶——伊利舒化奶产品推广”获中国创意传播国际大奖小预算类铜奖<br />
                                    2012.07 “太平洋寿险：万里无忧、高额航空意外险推广”获今典案例大奖年度最佳移动互联网营销案例<br />
                                    2012.06 “伊利舒化奶推广活动”获2012第三届易观金薇奖用户体验新营销之星<br />
                                    2012.06 “淘宝三周年店庆抽奖活动”获第三届中国经典传播运动奖铜奖<br />
                                    2012.06 “killah秒杀纠结推广活动”获第三届中国经典传播运动奖入围奖<br />
                                    2012.06 互动通客户“强生（中国）”获第三届中国经典传播2011年度广告主杰出贡献奖<br />
                                    2012.06 互动通客户“大众斯柯达”获第三届中国经典传播2011年度广告主杰出贡献入围奖<br />
                                    2012.03 互动通华北渠道销售团队荣膺第三届金鼠标•网络营销大赛年度十佳网络营销团队<br />
                                    2012.03 2010-2011年度上海市广告业白玉兰奖<br />
                                    2012.03 中国广告年度大奖中国广告公司技术突破全场大奖</p>
                            </div>
                        </div>
                        <div id="glory2011" class="glorylist">
                            <div class="y2011">
                                <p>2011.11 “Killah秒杀纠结”艾瑞品牌营销获快消行业最佳网络广告创意奖<br />
                                    2011.10 “三得利啤酒”案例获金网奖网络互动营销优秀案例奖<br />
                                    2011.09 全球数字媒体广告大会行业风云榜全球数字媒体广告领军企业<br />
                                    2011.09 互动通总裁邓广梼荣获2011全球数字媒体广告大会行业风云榜•2011全球数字媒体广告创新人物奖<br />
                                    2011.09 “珍爱网品牌推广”获中国互动网络广告创意优秀奖<br />
                                    2011.09 “三得利健爽啤酒口碑推广活动”获中国艾菲数字营销奖社会化媒体营销类铜奖<br />
                                    2011.08 “屈臣氏案例”获2011易观EnfoNet Award移动互联网之星<br />
                                    2011.08 “淘宝3周年”获得艾瑞效果营销网络服务最佳效果营销案例奖<br />
                                    2011.06 互动通总裁邓广梼荣获优酷2011年度中国网络视频专家团专家荣誉<br />
                                    2011.06 广州日报华文报纸广告奖新媒体案例奖优秀组织奖<br />
                                    2011.06 “GE通用绿色创想，点绿成金——颜巴赫气内燃机”获广州日报华文报纸广告奖新媒体案例奖年度优秀案例<br />
                                    2011.06 “珍贵如你，铂金”获广州日报华文报纸广告奖新媒体案例奖年度优秀案例<br />
                                    2011.06 “耐克Lunar Eclipse+跑步鞋”获中国经典传播运动大奖金奖<br />
                                    2011.06 “安踏——企业形象广告”获中国经典传播运动大奖银奖<br />
                                    2011.06 “361度——火炬传递”获中国经典传播运动大奖铜奖<br />
                                    2011.06 “FLY——为你心中的运动明星打造个人专属装备”获中国经典传播运动大奖铜奖<br />
                                    2011.05 2011中国创意传播大奖中国最具传播价值平台奖<br />
                                    2011.05 “可口可乐——全球快乐征程206活动”获中国创意传播大奖中国最具创意传播效果奖<br />
                                    2011.05 互动通总裁邓广梼荣获新浪微博达人奖<br />
                                    2011.04 2010-2011年度艾瑞新经济奖中国网络营销媒体平台奖<br />
                                    2011.04 互动通iWill创意团队荣膺第二届金鼠标•网络营销大赛年度最佳网络营销团队<br />
                                    2011.01 互动通CEO郑斌被评为2009年度金赢销大奖Ad100网络广告百人风云人物</p>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                        <div id="glory2010" class="glorylist">

                            <div class="y2010">
                                <p>2010.12 21世纪广告国际峰会中国广告行业最具竞争力公司<br />
                                    2010.11 “三得利”和“耐克”案例获金投赏提名奖<br />
                                    2010.11 “GE：健康创想，梦想启动未来”获艾瑞品牌营销2009-2010其他行业最佳广告创意奖<br />
                                    2010.10 案例获金网奖网络品牌营销奖<br />
                                    2010.10 互动通CEO郑斌被评为第三届中国互联网广告大会2009-2010年度中国互联网广告十大人物<br />
                                    2010.05 “三得利果味啤酒MIX——多方位互动提升营销效果”获中国经典传播大奖2009年度经典传播运动奖烟酒类铜奖<br />
                                    2010.05 “新东风日产轩逸——iFocus&amp;iMocha整合营销案例”获中国经典传播大奖2009年度经典传播运动奖汽车类铜奖<br />
                                    2010.05 “联想昭阳精准富媒体营销——新品多媒体多创意精准营销”获中国经典传播大奖2009年度经典传播运动奖IT类银奖<br />
                                    2010.05 “奔驰Smart中国上市推广”获2010新媒体广告创意大赛最佳创意奖<br />
                                    2010.05 “奔驰Smart中国上市推广”获中国时刻 2010新媒体广告创意大赛最佳创意奖<br />
                                    2010.04 “NIKE篮球攻会互动广告”获金鼠标十大优秀网络营销案例•技术应用类铜奖<br />
                                    2010.04 2009-2010艾瑞新营销奖中国网络营销媒体平台奖</p>
                            </div>
                        </div>

                    </div>
                    <script language="javascript">
                        var pwidth = 172;
                        var totalicon = 0;
                        var shownum = 0;
                        var curshow = 0;
                        var overicon = false;
                        var clickarrow = false;
                        $(function () {
                            totalicon = $("#iconcontainer img").length;
                            $("#iconcontainer").css("width", totalicon * pwidth);

                            $(window).bind("resize", onResizewin);
                            onResizewin();


                            $("#arrleft").click(function (e) {
                                if (curshow > 0) {
                                    clickarrow = true;
                                    curshow--;
                                    SetRoll();
                                    SetBtns();
                                }
                                return false;
                            });

                            $("#arrright").click(function (e) {
                                if (curshow < totalicon - shownum - 1) {
                                    clickarrow = true;
                                    curshow++;
                                    SetRoll();
                                    SetBtns();
                                }
                                return false;
                            });

                            $("#iconcontainer").css("margin-left", 0);

                            $("#iconcontainer").bind("mouseover", function () {
                                overicon = true;
                            });

                            $("#iconcontainer").bind("mouseout", function () {
                                overicon = false;
                            });

                            //=======================


                            $(".round").mouseover(function (e) {
                                var t = $(this).html();
                                $(".round").removeClass("roundon");
                                $(".glorylist").hide();
                                $(this).addClass("roundon");
                                $("#glory" + t).show();

                            });
                            $("#iconcontainer").css("marginLeft", 164);
                            setInterval(AutoRoll, 20);

                            //==========================

                        });

                        function onResizewin() {
                            //alert($(window).width());
                            if ($(window).width() <= 1400) {
                                shownum = 3;
                            } else if ($(window).width() > 1200 && $(window).width() < 1700) {
                                shownum = 4;
                            } else {
                                shownum = 5;
                            }
                            var ww = shownum * pwidth;

                            $(".rollicons").css("width", ww).css("margin-left", ($(".rollcontainer").width() - ww - 24) / 2);
                            SetBtns();
                        }

                        function SetBtns() {
                            if (curshow <= 0) {
                                $("#arrleft").css("visibility", "hidden");
                            } else {
                                $("#arrleft").css("visibility", "visible");
                            }

                            if (curshow >= totalicon - shownum - 1) {
                                $("#arrright").css("visibility", "hidden");
                            } else {
                                $("#arrright").css("visibility", "visible");
                            }
                        }

                        function SetRoll() {
                            $("#iconcontainer").animate({ "marginLeft": 0 - curshow * pwidth }, 300);
                        }

                        function AutoRoll() {
                            if (overicon == false && clickarrow == false) {
                                var ml = $("#iconcontainer").css("margin-left");
                                var pml = Number(ml.substr(0, ml.length - 2));

                                $("#iconcontainer").css("margin-left", pml - 1);
                                if (pml <= -1 * ($("#iconcontainer").width())) {
                                    $("#iconcontainer").css("margin-left", $(".rollicons").width());
                                }

                            }
                        }

                    </script>

                </div>
                {{>about_right}}

            </div>
        </div>