<div class="contentwrapper">
    <div class="navigator">首页&nbsp;&nbsp;<img src="/images/navidot.png" width="8"
            height="9">&nbsp;&nbsp;关于我们&nbsp;&nbsp;<img src="/images/navidot.png" width="8"
            height="9">&nbsp;&nbsp;公司介绍&nbsp;&nbsp;</div>
    <div class="content">
        <div class="leftcolumn introduce">
            <div id="videocontainer">
                <video id="vdo1" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto"
                    width="650" height="366" poster="/images/intropic.jpg" data-setup='{}'>
                    <source src="/images/intro.mp4" type='video/mp4' />
                    <source src="/images/intro.webm" type='video/webm' />
                    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to
                        a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports
                            HTML5 video</a></p>
                </video>


                <script>

                    videojs.options.flash.swf = "/images/video-js.swf";

                </script>

            </div>

            <p><strong>互动通传媒集团</strong></p>

            <p>秉承专业、创新、有效，互动通hdtMEDIA致力于帮助中国品牌营销增长。</p>

            <p>互动通传媒集团hdtMEDIA创立于1999年，是国内最早的数字广告平台之一，投资机构包括君创资本、成为投资、红杉投资等。目前，互动通hdtMEDIA覆盖超过50亿日均流量，已为数千个国际及国内的行业领导品牌提供互联网整合营销服务。
            </p>

            <p>
                <strong>引领</strong>
                2002年推出国内第一支富媒体广告，是国内富媒体行业开拓者；率先推出程序化广告营销平台，最先支持移动、视频和富媒体广告资源的标准接入；是国内首个与第三方独立数据调研机构合作的数字广告平台，提供公正、透明、务实的投放数据及效果报告。
            </p>

            <p>
                <strong>多元</strong>
                跨终端数字整合营销平台，覆盖PC、移动、视频、智能电视等多终端；完善布局数字营销生态链，拥有ADX、DSP、DMP等多元平台产品；链接众多品牌主和数字媒体，通过智能化的数据分析应用，帮助品牌主进行精准营销，帮助数字媒体进行流量转化。
            </p>

            <p>
                <strong>丰富</strong>
                依托超过20年的媒体合作经验与良好的市场口碑，接入巨型优质流量资源，全面覆盖用户场景。与京东、手机淘宝、Bilibili、抖音、快手、小红书等平台达成深度合作，覆盖超过50亿日均流量，覆盖10万移动应用，50万家网站资源。
            </p>

            <p>互动通hdtMEDIA的运营主体为上海图莳数字传媒科技有限公司。</p>

            <hr class="line" /><br>

            <div id="yearlist">
                <div style="width: 100%;height:140px;clear: both;line-height: 60px;">
                    <script type="text/javascript">

                        for (var i = 2020; i >= 1999; i--) {
                            if (i == 2020) {
                                document.write('<a href="#" class="round roundon">' + i + '</a>');
                            } else {
                                document.write('<a href="#" class="round">' + i + '</a>');
                            }
                        }

                    </script>
                </div>
                <div class="y2020 yearon">2020 通过互联网整合营销，专业助力中国品牌营销增长。</div>
                <div class="y2019">2019 独家代理芒果TV富媒体广告项目，为品牌提供更精准、更高效的推广传播。</div>
                <div class="y2018">2018 布局影视文娱领域，旗下网视传媒品牌战略升级，定位影视综艺商务运营平台。</div>
                <div class="y2017">2017
                    推出智能电视广告平台hdtOTT，致力于运用程序化购买方式在智能电视上进行广告投放；推出社交媒体管理平台hdtKOL，致力于为品牌提供一站式、智能化的社交媒体资源管理和投放服务。
                </div>
                <div class="y2016">2016 主推hdtOTV程序化视频广告平台，致力于为品牌广告主通过程序化购买方式在视频媒体平台进行有效的广告投放。</div>
                <div class="y2015">2015 推出H2网络广告交易平台，面向移动媒体端、视频媒体端、自媒体端，帮助媒体更有效地拓展品牌广告客户资源。</div>
                <div class="y2013">2013 推出全新升级版富媒体广告投放平台iCast+，实现了更炫丽的创意形式、API应用的调用及定制化等更多功能。</div>
                <div class="y2012">2012 主办“富媒体10周年”2012年中国广告与品牌大会。推出数字广告交易平台hdtDXP，进一步实现广告投放的高回报、高效率和高透明度。</div>
                <div class="y2011">2011 推出hdtMobile，打造国内领先的移动数字广告平台。</div>
                <div class="y2010">2010 富媒体视频广告产品MoCast完成在iPad上完美流畅的播放，宣告互动通成为首家支持iPad平台的富媒体广告集团。</div>
                <div class="y2009">2009 在金融危机中逆势成长。三屏合一成为网络营销新的风向标，互动通推出hdtMEDIA，打造数字富媒体整合营销。</div>
                <div class="y2008">2008 iMocha手机富媒体开创了富媒体技术无线终端应用的先河。</div>
                <div class="y2007">2007 iFocus内容精准匹配广告面世。</div>
                <div class="y2005">2005 互动通策划的第一届富媒体广告趋势论坛在北京大学举行，一举打响“富媒体”这一口号。</div>
                <div class="y2002">2002 由互动通制作的国内第一个富媒体网络广告——摩托罗拉赞助的电影《英雄》的片花，借助iCast技术在新浪进行投放，开创了国内互联网广告的新时代！
                </div>
                <div class="y1999">1999 互动通成立于中国，早期研发太极链软件，并拿到第一笔风险投资。</div>
                <!--<div class="y1999 yearon">1999 互动通成立于国内，早期研发太极链软件，并拿到第一笔风险投资。</div>
                <div class="y2002">2002 由互动通制作的国内第一个富媒体网络广告——摩托罗拉赞助的电影《英雄》的片花，借助iCast技术在新浪进行投放，开创了国内互联网广告的新时代！</div>
                <div class="y2005">2005 互动通策划的第一届富媒体广告趋势论坛在北京大学举行，一举打响“富媒体”这一口号。</div>
                <div class="y2007">2007 iFocus内容精准匹配广告面世。</div>
                <div class="y2008">2008 iMocha手机富媒体开创了富媒体技术无线终端应用的先河。</div>
                <div class="y2009">2009 在金融危机中逆势成长。三屏合一成为网络营销新的风向标，互动通推出hdtMEDIA，打造数字富媒体整合营销。</div>
                <div class="y2010">2010 富媒体视频广告产品MoCast完成在iPad上完美流畅的播放，宣告互动通成为首家支持iPad平台的富媒体广告集团。</div>
                <div class="y2011">2011 推出hdtMobile，打造国内领先的移动数字广告平台。</div>
                <div class="y2012">2012 主办“富媒体10周年”2012年国内广告与品牌大会。推出数字广告交易平台hdtDXP，进一步实现广告投放的高回报、高效率和高透明度。</div>
                <div class="y2013">2013 推出全新升级版富媒体广告投放平台iCast+，实现了更炫丽的创意形式、API应用的调用及定制化等更多功能。</div>
                <div class="y2014">2014 推出hdtSSP，打造优质媒体服务平台。</div>--><br><br>

            </div>
            <script language="javascript">
                $(function () {
                    $(".round").mouseover(function (e) {
                        var t = $(this).html();
                        $(".round").removeClass("roundon");
                        $("#yearlist div").removeClass("yearon");
                        $(this).addClass("roundon");
                        $(".y" + t).addClass("yearon");

                    });
                });
            </script>

        </div>
        {{>about_right}}
    </div>
</div>