<div class="contentwrapper">
    <div class="navigator">首页&nbsp;&nbsp;<img src="/images/navidot.png" width="8"
            height="9">&nbsp;&nbsp;新闻动态&nbsp;&nbsp;<img src="/images/navidot.png" width="8"
            height="9">&nbsp;&nbsp;公司新闻&nbsp;&nbsp;</div>
    <div class="content">
        <div class="leftcolumn">
            <div class="newscontent">
                <div class="newstitle">{{article.title}}</div>
                <div class="newsdate">{{article.publish_date}}</div>
                {{{article.content}}}
            </div>
        </div>
        {{>contact_right}}
    </div>
</div>