<link rel="stylesheet" href="/css/news.css" type="text/css" />
<div class="contentwrapper">
    <div class="navigator">首页&nbsp;&nbsp;<img
            src="http://www.hdtmedia.com/wp-content/themes/hdtmedia/assets/images/navidot.png" width="8"
            height="9">&nbsp;&nbsp;新闻动态&nbsp;&nbsp;<img
            src="http://www.hdtmedia.com/wp-content/themes/hdtmedia/assets/images/navidot.png" width="8"
            height="9">&nbsp;&nbsp;公司新闻&nbsp;&nbsp;</div>
    <div class="content">
        <div class="leftcolumn">

            <div class="newslist" id="newslist">

                <ul class="newsitem">
                    <li class="newspic"><a href="http://www.hdtmedia.com/archives/12672"><img
                                src="http://www.hdtmedia.com/wp-content/uploads/2020/04/14.png" width="100%" h></a></li>
                    <li class="newstitle">过来！你给我过来！说你呢APP程序猿</li>
                    <li class="newsdate">2020-03-12</li>
                    <li class="newsdetail">不少APP面临着同样的矛盾：技术强/商业弱，拉新易/变现难，用户多/收入少，流量大/利润低……...<a
                            href="http://www.hdtmedia.com/archives/12672" class="linkdetail">[阅读全文]</a></li>

                </ul>
                <ul class="newsitem">
                    <li class="newspic"><a href="http://www.hdtmedia.com/archives/12663"><img
                                src="http://www.hdtmedia.com/wp-content/uploads/2020/04/12.png" width="100%" h></a></li>
                    <li class="newstitle">2020领导者说|互动通副总裁朱强：认准风口，顺势而为！</li>
                    <li class="newsdate">2020-03-09</li>
                    <li class="newsdetail">2020年也许并不轻松，但同样充满机遇，看清局势认准风口，不要让机会从手中溜走！...<a
                            href="http://www.hdtmedia.com/archives/12663" class="linkdetail">[阅读全文]</a></li>

                </ul>
                <ul class="newsitem">
                    <li class="newspic"><a href="http://www.hdtmedia.com/archives/12659"><img
                                src="http://www.hdtmedia.com/wp-content/uploads/2020/04/11.png" width="100%" h></a></li>
                    <li class="newstitle">任何阶段的品牌都应建立危机管理响应机制</li>
                    <li class="newsdate">2020-03-08</li>
                    <li class="newsdetail">保持危机意识很重要，居安思危、未雨绸缪是我们工作中不可或缺的品牌思维。...<a
                            href="http://www.hdtmedia.com/archives/12659" class="linkdetail">[阅读全文]</a></li>

                </ul>
                <ul class="newsitem">
                    <li class="newspic"><a href="http://www.hdtmedia.com/archives/12656"><img
                                src="http://www.hdtmedia.com/wp-content/uploads/2020/04/2.png" width="100%" h></a></li>
                    <li class="newstitle">互动通获上海市广告协会颁发两项荣誉</li>
                    <li class="newsdate">2020-01-18</li>
                    <li class="newsdetail">1月16日，互动通荣获上海市广告协会颁发的两项荣誉：互动通传媒集团荣获2019年度表彰单位，互动通传媒集团总裁邓广梼（Michael
                        Tang）博士荣获2019年度表彰个人！...<a href="http://www.hdtmedia.com/archives/12656"
                            class="linkdetail">[阅读全文]</a></li>

                </ul>
                <ul class="newsitem">
                    <li class="newspic"><a href="http://www.hdtmedia.com/archives/12614"><img
                                src="http://www.hdtmedia.com/wp-content/uploads/2019/12/81.jpg" width="100%" h></a></li>
                    <li class="newstitle">新环境，新征程——互动通搬家啦！</li>
                    <li class="newsdate">2019-12-18</li>
                    <li class="newsdetail">新环境中的互动通，将以全新的面貌，开启新的征程！...<a href="http://www.hdtmedia.com/archives/12614"
                            class="linkdetail">[阅读全文]</a></li>

                </ul>
                <ul class="newsitem">
                    <li class="newspic"><a href="http://www.hdtmedia.com/archives/12575"><img
                                src="http://www.hdtmedia.com/wp-content/uploads/2019/12/14.jpg" width="100%" h></a></li>
                    <li class="newstitle">Morketing Summit 2019，共话破局</li>
                    <li class="newsdate">2019-12-10</li>
                    <li class="newsdetail">11月29日，第三届Morketing
                        Summit全球营销峰会在北京国贸大酒店举行，本届主题围绕“破·局”展开。在第二日的主会场，数十位嘉宾以“突破棋局”为主题，共同分享他们对于新品牌、中国式创新、5G、营销与增长以及技术和创意等相关领域观点。...<a
                            href="http://www.hdtmedia.com/archives/12575" class="linkdetail">[阅读全文]</a></li>

                </ul>
                <ul class="newsitem">
                    <li class="newspic"><a href="http://www.hdtmedia.com/archives/12551"><img
                                src="http://www.hdtmedia.com/wp-content/uploads/2019/11/TIM截图20191111133000.jpg"
                                width="100%" h></a></li>
                    <li class="newstitle">互动通富媒体赋能雅诗兰黛双十一</li>
                    <li class="newsdate">2019-11-08</li>
                    <li class="newsdetail">在今年的双十一来临之际，互动通与雅诗兰黛达成合作，以互动通富媒体广告进行雅诗兰黛小棕瓶眼霜的推广。...<a
                            href="http://www.hdtmedia.com/archives/12551" class="linkdetail">[阅读全文]</a></li>

                </ul>
                <ul class="newsitem">
                    <li class="newspic"><a href="http://www.hdtmedia.com/archives/12536"><img
                                src="http://www.hdtmedia.com/wp-content/uploads/2019/11/1.jpg" width="100%" h></a></li>
                    <li class="newstitle">中国广告节网络品牌推介会绽放南昌，邓广梼连续第八年主持</li>
                    <li class="newsdate">2019-10-28</li>
                    <li class="newsdetail">
                        由中国广告协会主办，广告人文化集团承办的中国网络领军品牌2020黄金资源联合推介会于10月26日热烈举行，现场汇聚了当下中国互联网主流平台最新、最强的头部资源和创新形态。...<a
                            href="http://www.hdtmedia.com/archives/12536" class="linkdetail">[阅读全文]</a></li>

                </ul>
                <ul class="newsitem">
                    <li class="newspic"><a href="http://www.hdtmedia.com/archives/12439"><img
                                src="http://www.hdtmedia.com/wp-content/uploads/2019/07/untitled.bmp" width="100%"
                                h></a></li>
                    <li class="newstitle">睿耀智慧，聚焦创新——2019科睿创新奖终审会圆满落幕</li>
                    <li class="newsdate">2019-07-30</li>
                    <li class="newsdetail">
                        7月26日，2019科睿创新奖终审会圆满落幕。颁奖典礼将于2019年8月23日下午在北京新云南皇冠假日酒店举办。我们诚邀与你相约，共同见证荣誉诞生，不见不散！...<a
                            href="http://www.hdtmedia.com/archives/12439" class="linkdetail">[阅读全文]</a></li>

                </ul>
                <ul class="newsitem">
                    <li class="newspic"><a href="http://www.hdtmedia.com/archives/12420"><img
                                src="http://www.hdtmedia.com/wp-content/uploads/2019/07/微信图片_20190716153657.jpg"
                                width="100%" h></a></li>
                    <li class="newstitle">中国广告四十年学术会议暨2019美国广告学会全球会议在北京大学收官</li>
                    <li class="newsdate">2019-07-16</li>
                    <li class="newsdetail">7月12-16日，“中国广告四十年学术会议暨2019美国广告学会全球会议”在北京大学举办。...<a
                            href="http://www.hdtmedia.com/archives/12420" class="linkdetail">[阅读全文]</a></li>

                </ul>
            </div>
            <div class="pager" style="display: none;">
                <a href="http://www.hdtmedia.com/archives/category/allnews/news/?page=1" class="pagebtn">首页</a>
                <a href="http://www.hdtmedia.com/archives/category/allnews/news/?page=0" class="pagebtn">上一页</a>
                <span>1</span> 
                <a href="http://www.hdtmedia.com/archives/category/allnews/news/?page=2">2</a>
                <a href="http://www.hdtmedia.com/archives/category/allnews/news/?page=3">3</a>
                <a href="http://www.hdtmedia.com/archives/category/allnews/news/?page=4">4</a>
                <a href="http://www.hdtmedia.com/archives/category/allnews/news/?page=5">5</a>
                <a href="http://www.hdtmedia.com/archives/category/allnews/news/?page=6">6</a>
                <a href="http://www.hdtmedia.com/archives/category/allnews/news/?page=7">7</a>
                <a href="http://www.hdtmedia.com/archives/category/allnews/news/?page=8">8</a>
                <a href="http://www.hdtmedia.com/archives/category/allnews/news/?page=9">9</a>
                <a href="http://www.hdtmedia.com/archives/category/allnews/news/?page=10">10</a> ..
                <a href="http://www.hdtmedia.com/archives/category/allnews/news/?page=62">62</a>
                <a href="http://www.hdtmedia.com/archives/category/allnews/news/?page=2" class="pagebtn">下一页</a>
                <a href="http://www.hdtmedia.com/archives/category/allnews/news/?page=62" class="pagebtn">末页</a>
            </div>

        </div>
        {{>contact_right}}
    </div>

    <script type="text/javascript">
        $(function () {

            $('.btnsearch').click(function () {
                var k = $("#searchkey").val();
                var u = encodeURIComponent(k);
                window.location.href = '/archives/category/allnews/news/?keyword=' + u;
            })




        });
    </script>
</div>