<div class="contentwrapper">
    <div class="navigator">首页&nbsp;&nbsp;<img src="/images/navidot.png" width="8"
            height="9">&nbsp;&nbsp;精彩案例&nbsp;&nbsp;<img src="/images/navidot.png" width="8"
            height="9">&nbsp;&nbsp;案例作品集&nbsp;&nbsp;</div>
    <div class="content">
        <div class="leftcolumn">

            <div class="anlilist">
                <div class="anlisingle">
                    <a href="http://www.hdtmedia.com/archives/10153"><img
                            src="http://www.hdtmedia.com/wp-content/uploads/2017/02/15.png" width="476" height="302"
                            class="anlipic"></a>
                    <a href="http://www.hdtmedia.com/archives/10153" class="anlititle">2016 APP广告形式 | 2017年02月
                        上传</a>
                </div>
                <div class="anlisingleo">
                    <a href="http://www.hdtmedia.com/archives/10140"><img
                            src="http://www.hdtmedia.com/wp-content/uploads/2017/02/14.png" width="476" height="302"
                            class="anlipic"></a>
                    <a href="http://www.hdtmedia.com/archives/10140" class="anlititle">2016 H5案例作品集 | 2017年02月
                        上传</a>
                </div>
                <hr class="line" />
                <div class="anlisingle">
                    <a href="http://www.hdtmedia.com/archives/8070"><img
                            src="http://www.hdtmedia.com/wp-content/uploads/2016/06/Q11.jpg" width="476" height="302"
                            class="anlipic"></a>
                    <a href="http://www.hdtmedia.com/archives/8070" class="anlititle">2016年1-4月案例作品集 | 2016年06月
                        上传</a>
                </div>
                <div class="anlisingleo">
                    <a href="http://www.hdtmedia.com/archives/7415"><img
                            src="http://www.hdtmedia.com/wp-content/uploads/2016/03/22.png" width="476" height="302"
                            class="anlipic"></a>
                    <a href="http://www.hdtmedia.com/archives/7415" class="anlititle">2015移动端案例作品集 | 2016年03月
                        上传</a>
                </div>
                <hr class="line" />
                <div class="anlisingle">
                    <a href="http://www.hdtmedia.com/archives/7395"><img
                            src="http://www.hdtmedia.com/wp-content/uploads/2016/03/116.jpg" width="476" height="302"
                            class="anlipic"></a>
                    <a href="http://www.hdtmedia.com/archives/7395" class="anlititle">2015年度案例作品集 | 2016年03月
                        上传</a>
                </div>
                <div class="anlisingleo">
                    <a href="http://www.hdtmedia.com/archives/6693"><img
                            src="http://www.hdtmedia.com/wp-content/uploads/2015/12/8.png" width="476" height="302"
                            class="anlipic"></a>
                    <a href="http://www.hdtmedia.com/archives/6693" class="anlititle">2015年8月案例作品集 | 2015年08月
                        上传</a>
                </div>
                <hr class="line" />
                <div class="anlisingle">
                    <a href="http://www.hdtmedia.com/archives/6689"><img
                            src="http://www.hdtmedia.com/wp-content/uploads/2015/12/7.png" width="476" height="302"
                            class="anlipic"></a>
                    <a href="http://www.hdtmedia.com/archives/6689" class="anlititle">2015年7月案例作品集 | 2015年07月
                        上传</a>
                </div>
                <div class="anlisingleo">
                    <a href="http://www.hdtmedia.com/archives/6683"><img
                            src="http://www.hdtmedia.com/wp-content/uploads/2015/12/6.jpg" width="476" height="302"
                            class="anlipic"></a>
                    <a href="http://www.hdtmedia.com/archives/6683" class="anlititle">2015年6月案例作品集 | 2015年06月
                        上传</a>
                </div>
                <hr class="line" />
                <div class="anlisingle">
                    <a href="http://www.hdtmedia.com/archives/6678"><img
                            src="http://www.hdtmedia.com/wp-content/uploads/2015/12/5.png" width="476" height="302"
                            class="anlipic"></a>
                    <a href="http://www.hdtmedia.com/archives/6678" class="anlititle">2015年5月案例作品集 | 2015年05月
                        上传</a>
                </div>
                <div class="anlisingleo">
                    <a href="http://www.hdtmedia.com/archives/5529"><img
                            src="http://www.hdtmedia.com/wp-content/uploads/2015/05/11.png" width="476" height="302"
                            class="anlipic"></a>
                    <a href="http://www.hdtmedia.com/archives/5529" class="anlititle">2015年4月案例作品集 | 2015年04月
                        上传</a>
                </div>
                {{!-- <hr class="line" /> --}}


            </div>
            {{!-- <div class="pager">
                <a href="/pages/works/?page=1" class="pagebtn">首页</a>
                <a href="/pages/works/?page=0" class="pagebtn">上一页</a>
                <span>1</span>
                <a href="/pages/works/?page=2">2</a>
                <a href="/pages/works/?page=3">3</a>
                <a href="/pages/works/?page=2" class="pagebtn">下一页</a>
                <a href="/pages/works/?page=3" class="pagebtn">末页</a>
            </div> --}}
        </div>

        {{>example_right}}
    </div>
</div>