<div class="contentwrapper">
    <div class="navigator">首页&nbsp;&nbsp;<img src="/images/navidot.png" width="8"
            height="9">&nbsp;&nbsp;平台产品&nbsp;&nbsp;<img src="/images/navidot.png" width="8"
            height="9">&nbsp;&nbsp;H2&nbsp;&nbsp;</div>
    <div class="content">
        <div class="leftcolumn">
            <div class="newscontent">

                <div class="subjectdetail">
                    <a href="https://www.h2.cn/" target="_blank"><img src="/images/H2-1.jpg" class="subjectmainpic"
                            style="border-width:5px;" /></a>
                </div>
                <p>&nbsp;</p>
                <p>（点击图片可进入H2官网：https://www.h2.cn/ ）</p>
                <p>H2是面向移动媒体端、视频媒体端，以及自媒体端的广告交易平台（广告技术平台），包含三个产品：H2 Mobile、H2 OTV 与H2 Social，隶属于互动通控股集团。</p>
                <p><strong>H2 Mobile是什么？</strong><br />
                    H2
                    Mobile是面向移动媒体端的广告交易平台，为移动媒体提供一站式多层次的流量变现管理服务，最大化地增加移动媒体的广告填充率，提高绝对收益，帮助优质移动媒体更有效地拓展品牌广告客户资源。
                </p>
                <p><strong>H2 Mobile核心价值</strong><br />
                    海量广告资源，多重收益保障：对接主流DSP（广告需求方平台），汇聚海量广告主资源，使每一个流量充分竞价，将媒体广告的填充率及成交单价最大化。</p>
                <p>广告形式丰富：支持主流广告形式（API）及独家移动富媒体广告形式（SDK）。</p>
                <p>精心筛选流量：可根据人群、地域、时间等信息定向，筛选需求方指定的流量，帮助需求方更有效地利用媒体资源。<br />
                    开放式API：支持与媒体端以API的方式对接流量，同时，支持IAB标准的openRTB 2.3协议，以及MMA中国移动广告程序化标准协议与需求端对接。</p>
                <p>可量身定制SDK包：提供功能强大的广告SDK包，同时支持为媒体个性化需求量身定制广告SDK包。</p>
                <p>动态底价设置：根据竞价状态进行预测，动态调整RTB底价，优化每一个广告变现机会，实现收益最大化。</p>
                <p>合作激励机制：向和H2深度合作的媒体或媒体代理商提供返点等激励措施，促进长期合作关系。</p>
                <p><strong>H2 OTV是什么？</strong><br />
                    H2 OTV是面向视频媒体端的广告交易平台，致力于帮助中等规模视频媒体实现广告资源全面程序化售卖。</p>
                <p><strong>H2 OTV核心价值</strong><br />
                    程序化购买：支持主流RTB实时竞价及针对优质资源的PDB预定交易、PD优选交易等模式帮助视频媒体开展程序化购买服务。</p>
                <p>人群精准补点提升TA覆盖：广告主可通过H2以多种交易模式同时采购，例如使用PDB模式在优质资源上进行大曝光量展示和统一控频，同时使用RTB与PD模式补点TA，从而实现目标人群有效覆盖。
                </p>
                <p>支持流量返还：支持包含PDB、PD在内的多种交易模式下多层次流量返还机制。</p>
                <p>支持视频广告协议：支持视频相关的最新国际标准协议，包括 VAST 4.0、MRAID、VPAID等，满足不同广告主的投放需求。</p>
                <p><strong>H2 Social是什么？</strong><br />
                    H2 Social是面向自媒体端的广告交易平台，服务于微博、微信等社交媒体的KOL资源，致力帮助自媒体大号KOL实现广告创收。</p>
                <p><strong>H2 Social核心价值</strong><br />
                    海量KOL资源：拥有10W+微博、微信资源，能帮助广告主找到适合的自媒体KOL资源。</p>
                <p>优质KOL推荐：平台根据账号历史投放数据，结合人工复核等方式，筛选出各行业优质KOL，使广告主的投放更有效率。</p>
                <p>深度解读资源：对已有自媒体数据多维度挖掘分析，掌握资源属性，追踪关联账号的历史推广效果，并预测阅读数、互动数、花费、收益等。</p>
                <p>真实效果保障：通过互动量、曝光量、传播层级、正负面等维度来判断KOL的真实性及质量，杜绝假号与水军号。</p>
                <p>智能投放分析：根据广告主所在行业、投放目的、预算等，智能分析投放项目，预测传播效果，让广告主在广告投放前对产品传播效果了然于心。</p>
                <p>投放效果追踪：基于多维度的数据监测，及时对投放数据进行分析反馈，让广告主及时了解投放效果。</p>
                <p>一键式便捷操作：最少只需一步操作，便能轻松投放自媒体广告。</p>
                <p>金牌私人定制：为广告主提供一对一个性化的自媒体广告创意服务，制定专属的投放策略。</p>


            </div>

        </div>

        {{>platform_right}}

    </div>
</div>