<div class="contentwrapper">
    <div class="navigator">首页&nbsp;&nbsp;<img
            src="/images/navidot.png" width="8"
            height="9">&nbsp;&nbsp;平台产品&nbsp;&nbsp;<img
            src="/images/navidot.png" width="8"
            height="9">&nbsp;&nbsp;hdtMobile&nbsp;&nbsp;</div>
    <div class="content">
        <div class="leftcolumn">
            <div class="newscontent">



                <div class="subjectdetail">
                    <div id="videocontainer">
                        <video id="vdo1" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto"
                            width="650" height="366"
                            poster="/images/subjectdetailmain2.jpg"
                            data-setup='{}'>
                            <source src="/images/promobile.mp4"
                                type='video/mp4' />
                            <source src="/images/promobile.webm"
                                type='video/webm' />
                            <p class="vjs-no-js">To view this video please enable JavaScript, and consider
                                upgrading to a web browser that <a href="http://videojs.com/html5-video-support/"
                                    target="_blank">supports
                                    HTML5 video</a></p>
                        </video>

                        <script>
                            videojs.options.flash.swf = "/swf/video-js.swf";
                        </script>

                    </div>



                    <p>hdtMobile是值得高度信任的移动数字广告平台，致力于为广告主提供一站式、客制化的移动互联网整合营销方案。</p>
                    <p><strong>优质媒体资源</strong><br />
                        拥有互动通网络广告交易平台H2接入的所有优质媒体流量，与主流SSP/Ad
                        Exchange成功对接，包括腾讯广点通、阿里妈妈Tanx、百度BES，同时，拥有谷歌DBM等平台资源，覆盖市场上的主流APP，满足广告主对优质广告流量资源的需求。</p>
                    <p><strong>程序化购买营销</strong><br />
                        支持程序化营销定义的开放式竞价、私有化市场、优选购买、程序化预定。</p>
                    <p><strong>炫酷创意表现</strong><br />
                        运用H5标准，将富媒体与开屏、插屏、Banner、焦点图、信息流、信息流视频等相结合，融合手机触摸、拍照、分享等特性，支持360°全景、擦除、吹一吹、摇一摇、长幅互动等多种互动形式。
                    </p>
                    <p><strong>基于大数据的精准定向</strong><br />
                        依托数据管理平台分析目标受众人群数据，实现基于媒介、地域、时间、兴趣、人口属性、操作系统、商圈、网络条件、天气API等多种维度的精准营销。</p>
                    <p><strong>与页面环境高度融合</strong><br />
                        打造原生广告，通过智能匹配，让广告告别繁杂无章。同时，运用多维度场景营销提供商业价值。</p>

                </div>

            </div>

        </div>

        {{>platform_right}}
    </div>
</div>