<div class="contentwrapper">
    <div class="navigator">首页&nbsp;&nbsp;<img
            src="/images/navidot.png" width="8"
            height="9">&nbsp;&nbsp;平台产品&nbsp;&nbsp;<img
            src="/images/navidot.png" width="8"
            height="9">&nbsp;&nbsp;hdtMEDIA&nbsp;&nbsp;</div>
    <div class="content">
        <div class="leftcolumn">
            <div class="newscontent">

                <div class="subjectdetail">
                    <div id="videocontainer">
                        <video id="vdo1" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto"
                            width="650" height="390"
                            poster="/images/subjectdetailmain.jpg"
                            data-setup='{}'>
                            <source src="/images/promedia.mp4"
                                type='video/mp4' />
                            <source src="/images/promedia.webm"
                                type='video/webm' />
                            <p class="vjs-no-js">To view this video please enable JavaScript, and consider
                                upgrading to a web browser that <a href="http://videojs.com/html5-video-support/"
                                    target="_blank">supports
                                    HTML5 video</a></p>
                        </video>

                        <script>
                            videojs.options.flash.swf = "/swf/video-js.swf";
                        </script>

                    </div>


                    <p>hdtMEDIA是中国领先的数字广告平台：<br>
                        hdtMEDIA于2002年推出中国第一支富媒体广告，是中国富媒体行业开拓者，市场中所有富媒体广告形式的创始者。<br>
                        hdtMEDIA占有60%以上的富媒体广告市场份额。<br>
                        hdtMEDIA携手中国所有门户网站、90%以上的优质垂直媒体与视频资源，跨越互联网、移动互联网、数字电视等数字媒体平台，网站服务月度覆盖近95%。<br>
                        hdtMEDIA秉承专业、创新、有效，长期服务各行业品牌广告主。致力为广告主提供最节约成本、最快速执行、最先进的互联网媒体整合投放解决方案，搭建起与消费者深度接触、即时互动的便捷渠道，实现广告投放收益最大化。<br>
                        hdtMEDIA是国内首个与第三方独立数据调研机构合作的数字广告平台，为广告主提供公正、专业、务实的投放数据及效果报告。<br><br>

                        目前，hdtMEDIA拥有iCast和iFocus两个产品：<br>
                        iCast品牌传播富媒体<br>
                        2002年，中国第一个富媒体网络广告——电影《英雄》的片花借助iCast技术在新浪网进行投放，开创了中国互联网广告的新时代！
                        iCast由hdtMEDIA首创研发并投入商用，无需受众安装任何插件即可自动播放，是整合视频、音频、动画图像、双向信息通信和用户交互功能的富媒体广告解决方案。iCast拥有富媒体广告最前沿的技术实力，如跨域频次控制、物理引擎技术、三维立体技术、Silverlight技术、轮播技术、独创的视频压缩技术、透明下载技术等。同时具备实时统计系统，可以对广告的投放情况进行全面监测。十几年来，iCast已成为中国富媒体技术的代名词。<br><br>

                        iFocus精准传播富媒体<br>
                        目标人群在哪里，iFocus广告就出现在哪里！2007年，iFocus精准传播富媒体广告问世，它能最大限度地契合品牌广告主的互联网广告投放需求，提供互联网精准广告解决方案。根据广告诉求，透过目标受众的浏览行为对网页进行动态分析，采用不同的精准定向技术，找到目标受众，实现广告的有效传播。iFocus整合内容定向、兴趣定向、人口属性定向、重定向、地域定向、时间定向、终端定向、频次定向等多种定向技术，与国内最优质的数字媒体保持长期深入的合作，媒体资源跨越PC、手机、Pad等所有数字媒体平台，覆盖各平台的门户资源和超过万家的垂直资源。
                    </p>

                </div>

            </div>


        </div>
        {{>platform_right}}
    </div>
</div>