<div class="contentwrapper">
    <div class="navigator">首页&nbsp;&nbsp;<img src="/images/navidot.png" width="8"
            height="9">&nbsp;&nbsp;平台产品&nbsp;&nbsp;<img src="/images/navidot.png" width="8"
            height="9">&nbsp;&nbsp;hdtOTT&nbsp;&nbsp;</div>
    <div class="content">
        <div class="leftcolumn">
            <div class="newscontent">

                <div class="subjectdetail">
                    <a href="https://www.h2.cn/" target="_blank"><img src="/images/hdtOTT-600.jpg"
                            class="subjectmainpic" style="border-width:5px;" /></a>
                </div>
                <p>hdtOTT是互动通智能电视广告平台，致力于运用程序化购买方式在智能电视进行广告投放，隶属于互动通传媒集团。hdtOTT针对家庭用户，以视觉效果强的大屏广告吸引受众，帮助品牌广告主展示品牌/产品信息，加深品牌印象。
                </p>
                <p><strong>核心优势
                    </strong><br />
                    聚焦优质人群：覆盖高学历、高收入、高消费层次的优质用户群体。<br />
                    品牌最大化曝光：智能电视屏以40-70寸为主，大屏展示广告易抓取用户眼球。<br />
                    广告展示效果佳：媒体环境优越、视听效果好，从而形成良好的广告展示。</p>
                <p><strong>主要功能</strong></p>
                <p>一站式投放：与内容提供方、牌照方、电视盒子、智能电视厂商合作，为品牌广告主提供一站式投放服务。<br />
                    媒体资源丰富：全面覆盖牌照方及硬件厂商，拥有丰富的媒体资源。<br />
                    多种定向：能够实现时间定向、地域定向、频次控制、厂商品牌定向、内容定向、人群定向、兴趣定向等多种定向方式。<br />
                    人群分析：覆盖高学历、高收入、高消费层次的优质用户群体，借助互动通的大数据积累，清晰解读用户，形成用户画像，进而更好地指导投放。<br />
                    客厅场景营销：基于智能电视“大屏幕”的优势，打造新的营销场景。<br />
                    支持第三方数据监测：与秒针、精硕、尼尔森等主流第三方监测公司合作，提供透明、专业、务实的投放数据报告。</p>


            </div>

        </div>



        {{>platform_right}}
    </div>
</div>