<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <script src="/wap/js/meta.js"></script>
    <link rel="stylesheet" href="/wap/css/app.css">
</head>
<title>hdtMEDIA</title>

<body>
    <div class="pages">
        {{>wap_head}}
        <div class="pagecontentwrapper">
            <div class="taglinks "><a href="/pages/about" class="taglink on">走近我们</a><a href="/pages/contact"
                    class="taglink">联系我们</a></div>
            <div class="video">
                <video id="vdo1" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto"
                    width="592" height="336"
                    poster="/wap/images/video1.jpg" data-setup='{}'>
                    <source src="/wap/images/v1.mp4"
                        type='video/mp4' />

                    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web
                        browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5
                            video</a></p>
                </video>
            </div>
            <div class="content">
                <p>互动通控股集团（简称互动通）秉承专业、创新、有效，为各行业品牌广告主提供先进的互联网媒体整合投放解决方案，实现广告投放收益最大化。</p>
                <p>互动通创立于1999年，是中国最早的数字广告平台之一，已为数千个国际及中国的行业领导品牌提供专业服务。投资机构包括成为投资、红杉投资等。</p>
                <p><strong>引领</strong>
                    2002年推出中国第一支富媒体广告，是中国富媒体行业开拓者；率先推出程序化广告营销平台，最早接入主流交易平台与供应端平台，最先支持移动、视频和富媒体广告资源的标准接入；是国内首个与第三方独立数据调研机构合作的数字广告平台，提供公正、透明、务实的投放数据及效果报告。
                </p>
                <p><strong>多元</strong>
                    跨终端数字整合营销平台，覆盖PC、移动、视频、智能电视等多终端，全方位支持程序化购买RTB、PMP（PDB、PD、PA）等多种交易方式，满足不同广告主的需求；完善布局程序化购买生态链，在DSP、DMP、视频及智能电视、移动营销领域精耕细作。
                </p>
                <p><strong>高效</strong>
                    整合程序化购买平台，为媒介购买提供一站式流量管理服务；通过数据的有效管理与分析，实时优化广告投放，不断完善投放效果；采用高效创新的媒介策略与创意、快速的落地执行，支持多样化的投放需求。</p>


            </div>
        </div>
        <img src="/wap/images/wxfloat.jpg" class="wxfloat" />
        <div class="foot">
            <a
                href="http://www.hdtmedia.com">更多精彩点击电脑版本</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                href="#" id="btnfocuswx">关注互动通微信</a>
        </div>
    </div>


    <script src="/wap/js/jquery.min.js"></script>
    <script src="/wap/js/navigation.js"></script>
    <script src="/wap/js/common.js"></script>

</body>

</html>