<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <script src="/wap/js/meta.js"></script>
    <link rel="stylesheet" href="/wap/css/app.css">
</head>
<title>hdtMEDIA</title>

<body>
    <div class="pages">
        {{>wap_head}}
        <div class="pagecontentwrapper">
            <div class="taglinks "><a href="/pages/about" class="taglink">走近我们</a><a href="/pages/contact"
                    class="taglink on">联系我们</a></div>
            <div class="contactwrapper">
                <div class="citywrapper" city="sh">
                    <img src="/wap/images/contact_sh.jpg">
                    <div class="citydetail">
                        <div class="title">上海总部</div>
                        {{!-- 地址：上海市天目西路547号联通国际大厦C座7层<br> --}}
                        电话：+86 21 63178866<br>
                    </div>
                </div>
                <div class="citywrapper" city="bj">
                    <img src="/wap/images/contact_bj.jpg">
                    <div class="citydetail">
                        <div class="title">北京分公司</div>
                        {{!-- 地址：北京市广渠路11号金泰国际大厦A座10层<br> --}}
                        电话：+86 10 65916827<br>
                    </div>
                </div>
                <div class="citywrapper" city="gz">
                    <img src="/wap/images/contact_gz.jpg">
                    <div class="citydetail">
                        <div class="title">广州分公司</div>
                        {{!-- 地址：广州市天河路230、232号万菱国际中心A塔703室<br> --}}
                        电话：+86 20 87557800<br>
                    </div>
                </div>
                {{!-- <div class="citywrapper" city="nj">
                    <img src="/wap/images/contact_nj.jpg">
                    <div class="citydetail">
                        <div class="title">南京办事处</div>
                        地址：南京市中山东路198号龙台国际大厦1502室<br>
                        电话：+86 25 68517246<br>
                    </div>
                </div>
                <div class="citywrapper" city="hz">
                    <img src="/wap/images/contact_hz.jpg">
                    <div class="citydetail">
                        <div class="title">杭州办事处</div>
                        地址：杭州市莫干山路425号瑞祺大厦1215室<br>
                        电话：+86 571 85238297<br>
                    </div>
                </div>
                <div class="citywrapper" city="cd">
                    <img src="/wap/images/contact_cd.jpg">
                    <div class="citydetail">
                        <div class="title">成都办事处</div>
                        地址：成都市新希望路4号2期2栋1单元1201室<br>
                        电话：+86 28 62336803<br>
                    </div>
                </div>
                <div class="citywrapper" city="km">
                    <img src="/wap/images/contact_km.jpg">
                    <div class="citydetail">
                        <div class="title">昆明办事处</div>
                        地址：昆明市东风西路123号三合商利大厦5楼D座<br>
                        电话：+86 871 63624467<br>
                    </div>
                </div> --}}

                <div class="qr">
                    <img src="/wap/images/qr.png"
                        align="left">全国热线电话：<a href="tel:400-697-0018">400-697-0018</a><br>
                    邮箱：<a href="mailto:sales@hdtmedia.com">sales@hdtmedia.com</a><br><br>
                    长按二维码关注互动通微信<br>
                </div>
                <div class="earthwrapper">
                    <div class="areawrapper">
                        <div class="area" city="bj" style="transform:rotate(-9deg);-webkit-transform:rotate(-9deg);">北京
                        </div>
                        <div class="area on" city="sh" style="transform:rotate(0deg);-webkit-transform:rotate(0deg);">上海
                        </div>
                        <div class="area" city="gz" style="transform:rotate(9deg);-webkit-transform:rotate(9deg);">
                            广州</div>
                        {{!-- <div class="area" city="hz" style="transform:rotate(9deg);-webkit-transform:rotate(9deg);">杭州
                        </div>
                        <div class="area" city="nj" style="transform:rotate(18deg);-webkit-transform:rotate(18deg);">南京
                        </div>
                        <div class="area" city="cd" style="transform:rotate(27deg);-webkit-transform:rotate(27deg);">成都
                        </div>
                        <div class="area" city="km" style="transform:rotate(36deg);-webkit-transform:rotate(36deg);">昆明
                        </div> --}}
                    </div>

                </div>
            </div>
        </div>
        <img src="/wap/images/wxfloat.jpg" class="wxfloat" />
        <div class="foot">
            <a
                href="http://www.hdtmedia.com">更多精彩点击电脑版本</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                href="#" id="btnfocuswx">关注互动通微信</a>
        </div>
    </div>


    <script src="/wap/js/jquery.min.js"></script>
    <script src="/wap/js/navigation.js"></script>
    <script src="/wap/js/common.js"></script>
    <script src="/wap/js/TweenMax.min.js"></script>
    <script src="/wap/js/contact.js"></script>
</body>

</html>