<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <script src="/wap/js/meta.js"></script>
    <link rel="stylesheet" href="/wap/css/app.css">
</head>
<title>hdtMEDIA</title>

<body>
    <div class="pages">
        {{>wap_head}}
        <div class="pagecontentwrapper">
            <div class="productpicwrapper"><img
                    src="/wap/images/productpic_dxp.jpg"></div>
            <div class="producttitle">hdtDXP 中国领先的程序化广告营销平台</div>
            <div class="content">
                hdtDXP是国内领先的程序化广告营销平台，隶属于互动通控股集团。作为最早涉足实时竞价广告交易模式的需求方平台，hdtDXP长期致力于为品牌广告主、代理商提供快速、高效的广告媒介及人群购买、智能预算分配、精准人群展示和基于大数据挖掘的营销体验与服务，从而达到广告投放的可控、品牌安全、高回报、高效率与高透明度。<br><br>

                <b>hdtDXP核心价值</b><br><br>

                <span class="bluetitle">优质流量获取：</span>通过程序化优选购买为品牌广告主高效地获取优质媒体资源。<br><br>

                <span class="bluetitle">人群购买：</span>通过挖掘、分析数据，对投放的人群做更精细的分析和判断。在大数据中心，运用自主研发的hdtDMP
                对标注人群进行清洗、聚类、扩维，进而生成足够清晰的人群画像，结合横向与纵向维度，对数据加以标识，并集成第三方数据，使数据的准确性得以验证，进而指导投放。<br><br>

                <span class="bluetitle">提升ROI：</span>根据每个投放的不同需求使用最匹配的优化算法，从而达到品牌广告主的广告投放衡量标准。<br><br>

                <span class="bluetitle">品牌安全：</span>通过提供安全定向功能、优化分类算法，剔除不健康的流量，保证品牌安全。<br><br>

                <span class="bluetitle">广告投放管理：</span>提供有效的广告投放管理，同时，提供开放的API供第三方集成，API 共有十几个接口，覆盖订单生成、修改、广告主管理、报表获取等功能。
                <br>

            </div>
        </div>
        <img src="/wap/images/wxfloat.jpg" class="wxfloat" />
        <div class="foot">
            <a
                href="http://www.hdtmedia.com">更多精彩点击电脑版本</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                href="#" id="btnfocuswx">关注互动通微信</a>
        </div>
    </div>


    <script src="/wap/js/jquery.min.js"></script>
    <script src="/wap/js/navigation.js"></script>
    <script src="/wap/js/common.js"></script>

</body>

</html>