<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <script src="/wap/js/meta.js"></script>
    <link rel="stylesheet" href="/wap/css/app.css">
</head>
<title>hdtMEDIA</title>

<body>
    <div class="pages">
        {{wap_head}}
        <div class="pagecontentwrapper">
            <div class="productpicwrapper">
                <video id="vdo1" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto"
                    width="599" height="352"
                    poster="/wap/images/productpic_hdtmedia.jpg"
                    data-setup='{}'>
                    <source src="/wap/images/promedia.mp4"
                        type='video/mp4' />
                    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web
                        browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5
                            video</a></p>
                </video></div>
            <div class="producttitle">hdtMEDIA 中国领先的数字广告平台</div>
            <div class="content">
                hdtMEDIA于2002年推出中国第一支富媒体广告，是中国富媒体行业开拓者，市场中所有富媒体广告形式的创始者。<br>
                hdtMEDIA占有60%以上的富媒体广告市场份额。<br>
                hdtMEDIA携手中国所有门户网站、90%以上的优质垂直媒体与视频资源，跨越互联网、移动互联网、数字电视等数字媒体平台，网站服务月度覆盖近95%。<br><br>

                <b>目前，hdtMEDIA拥有iCast和iFocus两个产品：</b><br><br>

                <span
                    class="bluetitle">iCast品牌传播富媒体：</span>2002年，中国第一个富媒体网络广告——电影《英雄》的片花借助iCast技术在新浪网进行投放，开创了中国互联网广告的新时代！iCast由hdtMEDIA首创研发并投入商用，无需受众安装任何插件即可自动播放，是整合视频、音频、动画图像、双向信息通信和用户交互功能的富媒体广告解决方案。<br><br>

                <span
                    class="bluetitle">iFocus精准传播富媒体：</span>2007年，iFocus问世，它能最大限度地契合品牌广告主的互联网广告投放需求，提供互联网精准广告解决方案。根据广告诉求，透过目标受众的浏览行为对网页进行动态分析，采用不同的精准定向技术，找到目标受众，实现广告的有效传播。<br><br>
            </div>
        </div>
        <img src="/wap/images/wxfloat.jpg" class="wxfloat" />
        <div class="foot">
            <a
                href="http://www.hdtmedia.com">更多精彩点击电脑版本</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                href="#" id="btnfocuswx">关注互动通微信</a>
        </div>
    </div>


    <script src="/wap/js/jquery.min.js"></script>
    <script src="/wap/js/navigation.js"></script>
    <script src="/wap/js/common.js"></script>

</body>

</html>