<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <script src="/wap/js/meta.js"></script>
    <link rel="stylesheet" href="/wap/css/app.css">
</head>
<title>hdtMEDIA</title>

<body>
    <div class="pages">
        {{>wap_head}}
        <div class="pagecontentwrapper">
            <div class="productpicwrapper">
                <video id="vdo1" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto"
                    width="592" height="336"
                    poster="/wap/images/productpic_hdtmobile.jpg"
                    data-setup='{}'>
                    <source src="/wap/images/promobile.mp4"
                        type='video/mp4' />

                    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web
                        browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5
                            video</a></p>
                </video>
            </div>
            <div class="producttitle">hdtMobile 中国领先的移动数字广告平台</div>
            <div class="content">
                <p>hdtMobile是值得高度信任的移动数字广告平台，致力于为广告主提供一站式、客制化的移动互联网整合营销方案。</p>
                <p>优质媒体资源</p>
                <p>拥有互动通网络广告交易平台H2接入的所有优质媒体流量，与主流SSP/Ad
                    Exchange成功对接，包括腾讯广点通、阿里妈妈Tanx、百度BES，同时，拥有谷歌DBM等平台资源，覆盖市场上的主流APP，满足广告主对优质广告流量资源的需求。</p>
                <p>程序化购买营销</p>
                <p>支持程序化营销定义的开放式竞价、私有化市场、优选购买、程序化预定。</p>
                <p>炫酷创意表现</p>
                <p>运用H5标准，将富媒体与开屏、插屏、Banner、焦点图、信息流、信息流视频等相结合，融合手机触摸、拍照、分享等特性，支持360°全景、擦除、吹一吹、摇一摇、长幅互动等多种互动形式。</p>
                <p>基于大数据的精准定向</p>
                <p>依托数据管理平台分析目标受众人群数据，实现基于媒介、地域、时间、兴趣、人口属性、操作系统、商圈、网络条件、天气API等多种维度的精准营销。</p>
                <p>与页面环境高度融合</p>
                <p>打造原生广告，通过智能匹配，让广告告别繁杂无章。同时，运用多维度场景营销提供商业价值。</p>
            </div>
        </div>
        <img src="/wap/images/wxfloat.jpg" class="wxfloat" />
        <div class="foot">
            <a
                href="http://www.hdtmedia.com">更多精彩点击电脑版本</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                href="#" id="btnfocuswx">关注互动通微信</a>
        </div>
    </div>

    <script src="/wap/js/jquery.min.js"></script>
    <script src="/wap/js/navigation.js"></script>
    <script src="/wap/js/common.js"></script>

</body>

</html>