<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <script src="/wap/js/meta.js"></script>
    <link rel="stylesheet" href="/wap/css/app.css">
</head>
<title>hdtMEDIA</title>

<body>
    <div class="pages">
        {{>wap_head}}
        <div class="pagecontentwrapper">
            <div class="productpicwrapper"><img
                    src="/wap/images/productpic_otv.jpg"></div>
            <div class="producttitle">hdtOTV，程序化视频广告平台</div>
            <div class="content">
                hdtOTV是互动通程序化视频广告平台，致力于为品牌广告主通过程序化购买方式在视频媒体平台进行广告投放，隶属于互动通控股集团。<br><br>

                <b>hdtOTV能为广告主做什么？</b><br><br>

                <span class="bluetitle">程序化购买：</span>支持主流流量PPB优选交易（Programmatic Premium Buying）与RTB实时竞价（Real Time
                Bidding） 方式针对人群开展视频媒体的程序化购买服务，同时，支持PDB预定交易（Programmatic Direct Buying）的程序化技术服务。<br><br>

                <span
                    class="bluetitle">跨媒体频控：</span>通过互动通数据管理平台hdtDMP收集的跨媒体TA人群数据，以及第三方平台人群数据的接入，帮助广告主增加目标人群的有效覆盖，同时，降低独立访客成本（CPUV）。<br><br>

                <span class="bluetitle">精准定向：</span>运用人群定向、媒体定向、环境定向、设备定向、地域定向等多重定向方式，精准覆盖目标受众。<br><br>

                <span
                    class="bluetitle">人群精准补点提升TA覆盖：</span>视频媒体人群重合度高，通过多种交易模式并行处理，如使用PPB与RTB模式捕捉人群，使用PDB模式投放在优质媒体，进行大曝光展现，从而实现目标人群有效覆盖。<br><br>

                <span class="bluetitle">降低广告投放成本：</span>结合智能优化，提高TA到达率，进而降低广告投放成本。<br><br>

                <span
                    class="bluetitle">数据标签体系丰富：</span>享有互动通数据管理平台hdtDMP28项一级人群分类标签，200+项二级分类标签，3000+项的三级标签，助力视频广告投放效果。<br>

            </div>
        </div>
        <img src="/wap/images/wxfloat.jpg" class="wxfloat" />
        <div class="foot">
            <a
                href="http://www.hdtmedia.com">更多精彩点击电脑版本</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                href="#" id="btnfocuswx">关注互动通微信</a>
        </div>
    </div>


    <script src="/wap/js/jquery.min.js"></script>
    <script src="/wap/js/navigation.js"></script>
    <script src="/wap/js/common.js"></script>

</body>

</html>