<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <script src="/wap/js/meta.js"></script>
    <link rel="stylesheet" href="/wap/css/app.css">
</head>
<title>hdtMEDIA</title>

<body>
    <div class="pages">
        {{>wap_head}}
        <div class="pagecontentwrapper">
            <div class="productpicwrapper"><img
                    src="/wap/images/productpic_ott.jpg"></div>
            <div class="producttitle">hdtOTT 智能电视广告平台</div>
            <div class="content">
                <p>hdtOTT是互动通智能电视广告平台，致力于运用程序化购买方式在智能电视进行广告投放，隶属于互动通控股集团。hdtOTT针对家庭用户，以视觉效果强的大屏广告吸引受众，帮助品牌广告主展示品牌/产品信息，加深品牌印象。
                </p>
                <p><strong>核心优势</strong></p>
                <p>聚焦优质人群：覆盖高学历、高收入、高消费层次的优质用户群体。</p>
                <p>品牌最大化曝光：智能电视屏以40-70寸为主，大屏展示广告易抓取用户眼球。</p>
                <p>广告展示效果佳：媒体环境优越、视听效果好，从而形成良好的广告展示。</p>
                <p><strong>主要功能</strong></p>
                <p>一站式投放：与内容提供方、牌照方、电视盒子、智能电视厂商合作，为品牌广告主提供一站式投放服务。</p>
                <p>媒体资源丰富：全面覆盖牌照方及硬件厂商，拥有丰富的媒体资源。</p>
                <p>多种定向：能够实现时间定向、地域定向、频次控制、厂商品牌定向、内容定向、人群定向、兴趣定向等多种定向方式。</p>
                <p>人群分析：覆盖高学历、高收入、高消费层次的优质用户群体，借助互动通的大数据积累，清晰解读用户，形成用户画像，进而更好地指导投放。</p>
                <p>客厅场景营销：基于智能电视“大屏幕”的优势，打造新的营销场景。</p>
                <p>支持第三方数据监测：与秒针、精硕、尼尔森等主流第三方监测公司合作，提供透明、专业、务实的投放数据报告。</p>
            </div>
        </div>
        <img src="/wap/images/wxfloat.jpg" class="wxfloat" />
        <div class="foot">
            <a
                href="http://www.hdtmedia.com">更多精彩点击电脑版本</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                href="#" id="btnfocuswx">关注互动通微信</a>
        </div>
    </div>


    <script src="/wap/js/jquery.min.js"></script>
    <script src="/wap/js/navigation.js"></script>
    <script src="/wap/js/common.js"></script>

</body>

</html>