<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <script src="/wap/js/meta.js"></script>
    <link rel="stylesheet" href="/wap/css/app.css">
</head>
<title>hdtMEDIA</title>

<body>
    <div class="pages">
        {{>wap_head}}
        <div class="bannerwrapper">
            <div class="dotslist">
                <div class="dot"></div>
            </div>
            <div class="imgflow segment" id="wrapper">
                <div id="scroller">
                    <ul>
                        <li><a href="http://wap.hdtmedia.com/archives/category/about/hr"><img
                                    src="/wap/images/wap-logos1.jpg" /></a></li>
                        <li><a href="http://wap.hdtmedia.com/hdtMEDIA"><img
                                    src="/wap/images/hdtMEDIA.jpg" /></a></li>
                        <li><a href="http://wap.hdtmedia.com/hdtDXP"><img
                                    src="/wap/images/12.jpg" /></a></li>
                        <li><a href="http://wap.hdtmedia.com/hdtotv"><img
                                    src="/wap/images/wap-OTV.jpg" /></a></li>
                        <li><a href="http://wap.hdtmedia.com/hdtott"><img
                                    src="/wap/images/hdtOTT.jpg" /></a></li>
                        <li><a href="http://wap.hdtmedia.com/hdtMobile"><img
                                    src="/wap/images/hdtMobile1.jpg" /></a></li>
                        <li><a href="http://wap.hdtmedia.com/H2"><img
                                    src="/wap/images/H21.jpg" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="imgbtns">
            <a href="/pages/works" class="imgbtn "><img
                    src="/wap/images/btnindex1.png"></a>
            <a href="/pages/about" class="imgbtn "><img
                    src="/wap/images/btnindex2.png"></a>
            <a href="/pages/introduce" class="imgbtn "><img
                    src="/wap/images/btnindex3.png"></a>
            <a href="/pages/news" class="imgbtn "><img
                    src="/wap/images/btnindex4.png"></a>
        </div>
        <img src="/wap/images/wxfloat.jpg" class="wxfloat" />
        <div class="foot">
            <a
                href="http://www.hdtmedia.com">更多精彩点击电脑版本</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                href="#" id="btnfocuswx">关注互动通微信</a>
        </div>
    </div>
    <script src="/wap/js/jquery.min.js"></script>
    <script src="/wap/js/navigation.js"></script>
    <script src="/wap/js/common.js"></script>
    <script src="/wap/js/iscroll.js"></script>
    <script src="/wap/js/index.js"></script>
</body>

</html>