<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <script src="/wap/js/meta.js"></script>
    <link rel="stylesheet" href="/wap/css/app.css">
</head>
<title>hdtMEDIA</title>

<body>

    <div class="pages">
        {{>wap_head}}
        <div class="productslist">
            <div class="productpic"><img
                    src="/wap/images/productpic1.jpg"></div>
            <div class="productslink">
                <div style="width:50%;float:left;">
                    <a href="/pages/hdtmedia"><img
                            src="/wap/images/product1.png"></a>
                    <a href="/pages/hdtdxp"><img
                            src="/wap/images/product2.png"></a>
                    <a href="/pages/hdtmobile"><img
                            src="/wap/images/product3.png"></a>
                </div>
                <div style="width:50%;float:left;">

                    <a href="/pages/hdtotv"><img
                            src="/wap/images/product6.png"></a>
                    <a href="/pages/hdtott" style="margin-top:5px;"><img
                            src="/wap/images/product7.png"></a>
                    <a href="/pages/h2" style="margin-top:6px;"><img
                            src="/wap/images/product5.png"></a>
                </div>
            </div>
        </div>
        <img src="/wap/images/wxfloat.jpg" class="wxfloat" />
        <div class="foot">
            <a
                href="http://www.hdtmedia.com">更多精彩点击电脑版本</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                href="#" id="btnfocuswx">关注互动通微信</a>
        </div>
    </div>


    <script src="/wap/js/jquery.min.js"></script>
    <script src="/wap/js/navigation.js"></script>
    <script src="/wap/js/common.js"></script>

</body>

</html>