<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <script src="/wap/js/meta.js"></script>
    <link rel="stylesheet" href="/wap/css/app.css">
</head>
<title>hdtMEDIA</title>

<body>
    <div class="pages">
        {{>wap_head}}
        <div class="newswrapper">
            <div class="dotslist dotslistnews">

            </div>
            <div class="imgflow" id="newslistwrapper">
                <div id="scroller">
                    <ul>
                        <li did="8551"><a href="">
                                <div class="title">区块链能否解决互动营销困局？当太极链走进复旦大学</div><img
                                    src="/wap/images/news/16.jpg" />
                            </a></li>
                        <li did="8548"><a href="">
                                <div class="title">Campaign专访：KOL Headway in China</div><img
                                    src="/wap/images/news/15.jpg" />
                            </a></li>
                        <li did="8545"><a href="">
                                <div class="title">“你必须知道的25家数字营销公司”之互动通</div><img
                                    src="/wap/images/news/14.jpg" />
                            </a></li>
                        <li did="8542"><a href="">
                                <div class="title">频频被唱衰的广告行业，时代在抛弃你吗？</div><img
                                    src="/wap/images/news/13.jpg" />
                            </a></li>
                        <li did="8537"><a href="">
                                <div class="title">做一个有人文素养的广告人！互动通专访华师大何平华</div><img
                                    src="/wap/images/news/12.jpg" />
                            </a></li>
                        <li did="8534"><a href="">
                                <div class="title">国内惊现首个互动营销区块链项目！</div><img
                                    src="/wap/images/news/11.jpg" />
                            </a></li>
                        <li did="8531"><a href="">
                                <div class="title">激荡三十年！互动通专访《中国广告》张惠辛</div><img
                                    src="/wap/images/news/1.jpg" />
                            </a></li>
                        <li did="7043"><a href="">
                                <div class="title">互联网周刊封面人物郑斌专访</div><img
                                    src="/wap/images/news/13.jpg" />
                            </a></li>
                    </ul>
                </div>
            </div>
            <div class="newslist">
                <div class="newsbrief">3月31日，互动通首席产品官韩啸（Colin
                    Han）来到复旦大学管理学院，与EMBA班的学员们分享区块链技术和互动营销发展的布局和思考——太极链。太极链充分利用区块链技术去中心化、不可篡改、智能合约等特点，并针对互动营销领域交易数据量庞大，时效性高，需要使用人工智能和实时大数据处理技术等要求，将区块链技术和互动营销行业的程序化购买技术相结合，让广告投放更加透明、高效。
                </div>
                <div class="newsbrief">
                    推出新产品hdtKOL，表明互动通将业务版图拓展到了KOL营销。“我们发现90后消费者们更喜欢看不那么严肃的内容，而KOL们凭借快速新鲜的信息吸引了年轻人的目光。2017年，众多品牌把预算花在KOL营销上，催生了一批数量可观的KOL营销活动。”互动通CEO郑斌在接受Campaign记者采访时如此说道。
                </div>
                <div class="newsbrief">
                    凭借前沿的投放技术、专业的解决方案、优质的媒体资源和深厚的行业经验，互动通深得国内外各大品牌、代理商和媒体、合作伙伴的信任和支持，也持续获得行业认可与殊荣。3月28日，中国广告年度数字大奖颁奖典礼在上海举行，互动通第四年入选“你必须知道的25家数字营销公司”！
                </div>
                <div class="newsbrief">
                    时代抛弃你的时候，连声再见都不会说。现在，传统广告行业乃至整个广告代理行业正在遭受前所未有的批评。频频被唱衰的传统广告行业，已然被时代抛弃了吗？对此，互动通总裁邓广梼博士在3月27日中国广告与品牌大会的演讲中，给予深刻的分析和充满哲学意味的思考，并用苏格拉底式的“终极提问”引发了大家的沉思。
                </div>
                <div class="newsbrief">
                    意气风发的中学教师、第一批“下海”从事自由职业的广告人、追逐艺术梦想的影视从业者、醉心学术的广告高等教育专家……对于华东师大广告学系主任何平华教授来说，这些顺应社会发展而做出的个人抉择，带来了不同的角色转变，但彼此之间却相互交融，并深深影响了他现在所从事的广告教育事业。
                </div>
                <div class="newsbrief">中国首个互动营销区块链实践项目——太极链（Tai
                    Chi-Chain）扬帆起航，它创造性地将区块链与互动营销融合在一起，将为网络媒体带来一次全新的流量革命！互动通充分利用区块链底层技术的去中心化、不可篡改、智能合约等特点，切实解决行业发展问题，将太极链打造成为完全透明、客观、公正的区块链互动广告新平台，实现信息互联网向价值互联网的转变。
                </div>
                <div class="newsbrief">
                    张惠辛，一位“90后”（1990年进入广告行业）资深广告人，国内最早的职业广告策划人之一，从2000年开始担任《中国广告》杂志社主编，亲眼见证并参与了中国广告行业近三十年的波澜壮阔、跌宕起伏。在采访中，他将近三十年来的丰富阅历浓缩成一个多小时的娓娓道来，旁征博引侃侃而谈，让我们受益良多，收获斐然！
                </div>
                <div class="newsbrief">
                    作为一家拥有18年发展历程的技术公司CEO，郑斌说得最多的一句话还是稳扎稳打。在一个越来越快节奏的行业氛围下，本着这样一种沉着稳重的心态，互动通耐心打磨出一个个成功的案例是意料之中的事。郑斌还表示，在未来万物边界打通、融合互联的大趋势下，互动通会利用互联网技术基因尝试一些好玩有趣或绿色环保的营销玩法，让广告在创意与技术双重加持下绽放出更美的光彩！
                </div>
            </div>
        </div>
        <img src="/wap/images/wxfloat.jpg" class="wxfloat" />
        <div class="foot">
            <a
                href="http://www.hdtmedia.com">更多精彩点击电脑版本</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                href="#" id="btnfocuswx">关注互动通微信</a>
        </div>
    </div>


    <script src="/wap/js/jquery.min.js"></script>
    <script src="/wap/js/navigation.js"></script>
    <script src="/wap/js/common.js"></script>
    <script src="/wap/js/iscroll.js"></script>
    <script src="/wap/js/newslist.js?v=11"></script>
</body>

</html>