<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <script src="/wap/js/meta.js"></script>
    <link rel="stylesheet" href="/wap/css/app.css">
</head>
<title>hdtMEDIA</title>

<body>
    <div class="pages">
        {{>wap_head}}
        <div class="workswrapper">
            <div class="dotslist">

            </div>
            <div class="imgflow" id="workswrapper">
                <div id="scroller">
                    <ul>
                        <li><a href="/works/work_7055"><img
                                    src="/wap/images/16.jpg" /></a></li>
                        <li><a href="/works/work_6841"><img
                                    src="/wap/images/2.png" /></a></li>
                        <li><a href="/works/work_6802"><img
                                    src="/wap/images/21.jpg" /></a></li>
                        <li><a href="/works/work_6677"><img
                                    src="/wap/images/222.jpg" /></a></li>
                        <li><a href="/works/work_6704"><img
                                    src="/wap/images/23.jpg" /></a></li>
                        <li><a href="/works/work_6707"><img
                                    src="/wap/images/2015雷克萨斯.jpg" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <img src="/wap/images/wxfloat.jpg" class="wxfloat" />
        <div class="foot">
            <a
                href="http://www.hdtmedia.com">更多精彩点击电脑版本</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                href="#" id="btnfocuswx">关注互动通微信</a>
        </div>
    </div>


    <script src="/wap/js/jquery.min.js"></script>
    <script src="/wap/js/navigation.js"></script>
    <script src="/wap/js/common.js"></script>
    <script src="/wap/js/iscroll.js"></script>
    <script src="/wap/js/workslist.js"></script>
</body>

</html>